[2022-01-26 16:35] zhicwu commented on #810
Yes. If your CTE is complex, for instance it contains CASE WHEN, you'd better use parensises to group sub expressions.

[2022-01-26 18:27] deniztek commented on #813
Thank you, I'm waiting for your replay.

[2022-01-27 02:34] ebyhr commented on #822
This issue happened even after randomized ClickHouse http port, so I think it's not testcontainers's issue.

[2022-01-27 07:48] zhicwu commented on #822
I agree. I'm thinking to either to add connection validation(since it's legacy driver which has issue dealing with stale connection), or merge your change into trino/trino#10801 and run test against new driver. Will try it out tonight.

[2022-01-28 14:04] deniztek commented on #813
hello is there any update?

[2022-01-29 00:02] zhicwu commented on #813
Sorry for getting back late on this. It didn't work, because the new driver had problem convert string to nested data types like array and tuple. Will fix this in patch4.

[2022-01-29 01:52] zhicwu commented on #822
Validating connection before execution did not help, so I updated connection string for legacy driver by adding `validateAfterInactivityMillis=100`(Apache HttpClient uses 2000ms by default, see details at #760) to further reduce the possibility of running into `failed to respond` issue. The new driver on the other hand does not have the connection issue, so the test went well for 20.7+.

I'd sugge

[2022-01-31 03:30] ebyhr commented on #822
Do you mean the flaky issue still exists even after upgrading the driver?

[2022-01-31 07:39] zhicwu commented on #822
No, the issue only exists when you test ClickHouse 20.3 using legacy driver. Upgrading the driver only helps for 20.7+.

[2022-01-31 08:48] deniztek commented on #813
Okey thank you very much. Also do you have any opinion about that issue (https://github.com/ClickHouse/clickhouse-odbc/issues/389) ? ODBC cannot bring the string codes which do not have fixed sizes; on the other hand, JDBC get bring those string codes correctly.

[2022-02-01 14:43] darkleaf opened #825 "How to migrate from ClickHouseRowBinaryStream?"
I want to use the new `clickhouse-client` to write a stream of data into my tables.
Previously I used ClickHouseRowBinaryStream.
It seems I should use `ClickHouseRowBinaryProcessor.getMappedFunctions`. But it looks very complex and needs a config and a column.

Can you write an example with `ClickHouseClient.load` and arbitrary `ClickhouseValue`s?

[2022-02-01 17:23] #825 closed

[2022-02-01 19:11] debychkov opened #826 "Database <name> doesn't exist when trying to create database in 0.3.2"
Hi, I'm updating our driver from 0.2.6 to 0.3.2 and found some difference in behavior.

We have few cases, when we need to create database from our code, and then write into it. Mostly in autotests, but not only. And that's when I ran into a problem - I cannot get the connection to create database, because there is no database. Minimal code example:

[code]

This worked fine with 0.2.6, but now I

[2022-02-02 03:20] zhicwu commented on #826
Thanks @debychkov for reporting the issue and explaining use case in detail. I'll take it as a bug and will fix it in 0.3.2-patch4.

By the way, the legacy driver `ru.yandex.clickhouse.ClickHouseDriver` is deprecated and will be removed in 0.4. I'd suggest you starting to integrate with the new driver `com.clickhouse.jdbc.ClickHouseDriver`.

[2022-02-02 03:21] #824 closed

[2022-02-02 03:21] #823 closed

[2022-02-02 12:28] debychkov commented on #826
Thank you! Is there any estimate on this patch date?

Noted, thanks again.

[2022-02-02 23:39] Blackmorse opened #828 "Wrong value while reading from UInt64 column"
Clickhouse JDBC driver version: **0.3.2**

[code]
(10223372036854775100 is larger than `Long.MAX_VALUE`)

[code]

I can't read the correct value neither with `getString` nor with `getBigDecimal`

Java code:

[code]
Output:
[code]

[2022-02-03 00:16] ebyhr commented on #822
Thanks for your help! Upgrading the driver exactly resolved the flaky issue in new ClickHouse versions. As you already mentioned, the flakiness still exists in 20.3 (Altinity build).

[2022-02-03 07:21] zhicwu commented on #828
Thanks for the reporting the issue. Just fixed in local and added integration test accordingly. Will release this together with some other changes in 0.3.2-patch4 on Sunday.

[2022-02-03 07:34] zhicwu commented on #826
This is related to #605. Adding connection property `createDatabaseIfNotExist` as suggested is more convenient than multi-statement query.

Anyway, I'm going to make below two changes:
* legacy driver: avoid database check in connection init query
* new driver: 1) avoid database check in init query; 2) add `createDatabaseIfNotExist` (default to false) connection property

I hope I can fix another

[2022-02-06 12:00] zhicwu commented on #822
You're welcome, and I'm glad that I can help :)

As to the flakiness in 20.3, I'm sorry that I have to leave it as is, mainly because supporting 20.3 in the new driver requires more changes in code base(not only `clickhouse-jdbc` but also `clickhouse-http-client` 🤦) than I thought, making it not fit into a patch release. As I'm not working on this project in full time, I'd rather save the effort f

[2022-02-06 12:51] #828 closed

[2022-02-06 12:51] #826 closed

[2022-02-07 01:55] zhicwu commented on #813
Sorry I forgot to mention that patch4 has been released. You may now download the driver from [here](https://github.com/ClickHouse/clickhouse-jdbc/releases/download/v0.3.2-patch4/clickhouse-jdbc-0.3.2-patch4-all.jar), put it under <pdi home>/lib directory, and delete the old driver in same directory. Lastly, when you create connection, please remember to use new driver `com.clickhouse.jdbc.ClickHo

[2022-02-07 01:57] zhicwu commented on #780
This happens when using test builds against ClickHouse server older than 20.7. I'm closing this one and will submit a pull request in dbeaver to bump the driver to latest.

[2022-02-07 01:57] #780 closed

[2022-02-07 02:25] zhicwu commented on #717
I'm closing this as the issue does not exist in the new JDBC driver `com.clickhouse.jdbc.ClickHouseDriver` in 0.3.2 or above. Please upgrade driver as the legacy driver(ru.yandex.clickhouse.ClickHouseDriver) is deprecated and will be removed soon.

#760 has summarized all the attempts very well along with additional change trying to fix the issue. However, based on flaky test reported in trino, th

[2022-02-07 02:25] #717 closed

[2022-02-07 08:37] Nehoko opened #831 "ClickHouseProperties.setKeepAliveTimeout(int keepAliveTimeout)"
We're trying to update clickhouse-jdbc from 0.1.48 to 0.3.2-patch4 and faced with a problem: there is not method `setKeepAliveTimeout(int keepAliveTimeout)` which we was using.
Should we changed with something else? Or just remove it?

[2022-02-07 09:20] zhicwu commented on #831
Yes, you can simply remove it as it's no longer required.

[2022-02-08 11:54] aresa7796 opened #832 "Code: 999. Coordination::Exception: Transaction failed (No node): Op #0"
Spark write to ReplicatedMergeTree table,I get a exception:

Clickhouse version: 22.1.3.7
Clickhouse-jdbc version: 0.3.2-patch2
zookeeper version: 3.7.0

[code]

[2022-02-08 12:08] zhicwu commented on #832
Looks like an issue with the server - similar as ClickHouse/ClickHouse#32938?

[2022-02-09 08:28] LatchShun commented on #784
what's the time the version of `0.3.3` will be released?

[2022-02-09 19:13] reimai commented on #419
Hi, got a question about ClickhouseDatasource. You've said:

and should be used without external connection pools like hikari. I'm testing that on a simple app that opens two connections from the same DataSource and pings the db in each of them. And It looks like the HttpClient and it's pool are created per ClickhouseConnectionImpl, not per ClickHouseDatasource.

A code like this (scala):
[code]

[2022-02-10 00:22] zhicwu commented on #419
Correct. `ClickHouseConnectionImpl` holds `CloseableHttpClient` which uses `PoolingHttpClientConnectionManager` to manage connections.

Yes. `ClickHouseDataSource` is only used to create `ClickHouseConnection`. It doesn't make sense to share same `ClickHouseConnection`, although it works because of the HttpClient pool behind the scene.

Yes, if you want to 1) validate connection before execution;

[2022-02-10 00:42] zhicwu commented on #784
Is there any specific feature you're waiting for? If it's about Native/TCP support, I have a basic implementation in local, so maybe I can start to publish test build once I'm done with the input and output stream tweaking.

If you're talking about the whole release, I'd say it's going to take months. Not to mention Horizon Forbidden West will be out next week and Elden Ring the week after 🥳

[2022-02-10 07:26] aamirbutt opened #833 "Clickhouse jdbc connection with maven"
I am trying to connect in a maven project and I am getting errors where It can apparently load the class but fails to connect:

[code]

I have following in pom.xml:
[code]

I am getting the following error on `getConnection`:
[code]

[2022-02-10 08:16] zhicwu commented on #833
Perhaps you can check examples at [here](../tree/master/examples/jdbc)?

[2022-02-10 08:46] aamirbutt commented on #833
I am getting a similar error with the example that you shared. The only thing is that this error comes up when I run it from command-line by creating a jar file. I added this plugin to pom.xml to create a jar file with a mainClass.
[code]

The error I get when I run it like this: `java -jar .\target\jdbc-examples-1.0.0.jar` is :
[code]

[2022-02-10 09:13] deniztek commented on #813
I am still getting not responding while trying to connect clickhouse table.
![clckhouse1](https://user-images.githubusercontent.com/97874273/153374757-ea67e570-9d39-43df-ad9f-001cd369b760.png)

[2022-02-10 23:41] zhicwu commented on #833
This is irrelevant to the driver.

In order to use the JDBC driver, please either create a shaded jar or include it in your classpath.

[2022-02-10 23:41] #833 closed

[2022-02-11 00:58] zhicwu commented on #813
I captured a `select * from <destination table>` query without any restriction of max rows from PDI, but I'm not sure how it was triggered.

Can you try to append `max_result_rows=7` in your connection string to verify? For example: `jdbc:ch://localhost/test` -> `jdbc:ch://localhost/test?max_result_rows=7`. This will limit all query results to 7 rows. It won't resolve your problem but it can be us

[2022-02-14 02:58] kiwimg opened #834 "BalancedClickhouseDataSource; 负载均衡在0.3.2版本怎么支持以及后面版本怎么规划的的这个功能是？"
ru.yandex.clickhouse.BalancedClickhouseDataSource; 负载均衡在0.3.2版本怎么支持以及后面版本怎么规划的的这个功能是？

[2022-02-14 03:15] zhicwu commented on #834
Since the driver uses http protocol by default, I'd suggest you using middleware like `chproxy`, `nginx` or `traefik` etc. for load balancing.

As to the driver itself, I hope to re-write `ClickHouseCluster` in 0.3.3, which will simplify the way to connect to multiple nodes, for example:
[code]

[2022-02-14 06:33] kiwimg commented on #834
thanks

[2022-02-14 19:46] svbrunov commented on #784
Dear Zhichun Wu (@zhicwu),

Could you please publish the `v0.3.2-patch*` releases (for example, the `v0.3.2-patch4` release) into the Maven central repository?

Best regards,
Sergey Vyacheslavovich Brunov.

[2022-02-14 23:33] zhicwu commented on #784
Hi @svbrunov, it's been published(see [here](https://search.maven.org/artifact/com.clickhouse/clickhouse-jdbc)). I think you're using the old group id `ru.yandex.clickhouse`, which should be changed to `com.clickhouse`.

[2022-02-15 09:15] svbrunov commented on #784
Dear Zhichun Wu (@zhicwu),

Thank you very much for the prompt reply!
This is what I was looking for.

Best regards,
Sergey Vyacheslavovich Brunov.

[2022-02-16 21:08] rzeigler opened #836 "ClickhouseStatementImpl.executeUpdate does not throw on server error"
We have a specific use case where we send queries that construct temporaries that are used in subsequent queries. We have discovered that ClickhouseStatementImpl.executeWrite does not appear to throw correctly in the face of malformed CTAS statements (or possibly other remote failures).

What we observe is that we see something akin to the following in our logs (I added a specific nonsense column)

[2022-02-16 22:35] zhicwu commented on #836
Hi @rzeigler, thanks for reporting the issue and sorry for the inconvenience caused at your end. Yes, the exception should not be swallowed. Let me check if there's similar cases and fix it on develop today.

I'll release patch5 on Sunday if there's no other issues.

[2022-02-20 19:16] dynaxis opened #840 "How to get multiple result sets from single query?"
ClickHouse sometimes returns multiple tables from single query. For instance, you may specify `GROUP BY WITH ROLLUP` and get multiple tables. So how is it possible to retrieve such results w/ JDBC or new clickhouse-client interface? Looking into the JDBC code, it seems the statement implementation doesn't support getMoreResults() in such a way.

[2022-02-21 00:24] zhicwu commented on #840
Yes, JDBC driver does not support multiple result sets at this point.

What's your query look like? From what I saw, ClickHouse will return additional rows instead of multiple tables.

[2022-02-21 02:09] dynaxis commented on #840
https://clickhouse.com/docs/en/sql-reference/statements/select/group-by/#with-rollup-modifier

I've not yet tested it with `clickhouse-http-client`. But I'll try.

[2022-02-21 03:09] zhicwu commented on #840
Yes, it will append a few more aggregated rows to the same result set. It's probably better to return multiple result sets instead.

[code]
![image](https://user-images.githubusercontent.com/4270380/154882704-7c7fda92-a977-4fb2-ab16-cf1e0d465d29.png)

[2022-02-21 23:55] zhicwu commented on #832
Close as this is more of a server side issue.

[2022-02-21 23:55] #832 closed

[2022-02-21 23:55] #831 closed

[2022-02-21 23:56] #834 closed

[2022-02-22 03:30] #836 closed

[2022-02-22 06:23] gauravphoenix opened #843 "How to write data in bulk?"
let's say I have a `byte[]` that represents a ClickHouse row in `RowBinary` format (we are reading it from a kafka consumer). What is the ideal way to insert data in CH in bulk using the HTTP client?

Here is the Kafka read loop-
[code]
This is obviously a bad idea to make inserts in a tight loop, but I can't seem to find an example how to do bulk inserts using the HTTP driver.

I know I can handl

[2022-02-22 08:22] dynaxis commented on #840
BTW, if you are to implement support for multiple result sets, will the current behavior change? It's ok to adapt my code to the future change when it's available, but hope to know what change is expected.

[2022-02-22 08:50] zhicwu commented on #840
No worries, it won't be changed. If we do need to break it down to multiple result sets in the future, we can add a JDBC-specific option to turn it on/off.

[2022-02-22 09:31] zhicwu commented on #843
You can use `ClickHousePipedStream`, which is a single-producer to single-consumer piped stream. Basically, you write data on one side, and then read from the other side(usually in separate thread).

Serialization came with cost but I think it's affordable given the fact that you're using Kafka, meaning async and multiple consumers running in parallel, which should be faster enough? If you really

[2022-02-22 12:43] den-crane commented on #840
@dynaxis CH does not support multiple results and never will, because it's impossible to return with HTTP API.
**All queries always return a single resultset. Only one query is possible per request.**

They are not multiple results they are columnar blocks.

[code]

[2022-02-22 12:49] den-crane commented on #840
There is zero guarantee that WITH ROLLUP returns in multiple blocks in Native format. Basically it just current behavior, it can be changed tomorrow.

[2022-02-22 20:09] gauravphoenix commented on #843
Thanks @zhicwu for great examples!

[2022-02-22 20:09] #843 closed

[2022-02-24 02:20] 000xiaoxiao000 opened #845 "Use javasist pile ru. Another dual. Clickhouse. ClickHouseDriver, error: Java. Lang. ClassNotFoundException: ru.yandex.clickhouse.ClickHouseConnection"
![image](https://user-images.githubusercontent.com/39261902/155444810-2d7d8f95-b1fc-4a55-809d-3c124c493480.png)
![image](https://user-images.githubusercontent.com/39261902/155444909-32116840-9af3-4a37-b359-de97589717a5.png)
There is no import ClickHouseConnection interface in the ClickHouseDriver class.

[2022-02-24 09:07] zhicwu commented on #845
What version of the driver you're using? New version might not work with JDK 7. And how to reproduce the issue?

Because they're in the same package?

[2022-02-25 19:25] gauravphoenix commented on #843
how do I go about using native format when using this client? (either JDBC or http/grpc?)

[2022-02-28 14:18] AlexanderZavoykin opened #846 "Parse from Map(LowCardinality(?), ?)"
When a table has column of type Map with key type as LowCardinality, method _ClickHouseColumnInfo.parse(String typeInfo, String columnName, TimeZone serverTimeZone)_ does not work well, because _splitArgs(typeInfo, currIdx)_  (line ClickHouseColumnInfo::135) return one element array.

[2022-03-01 02:04] zhicwu commented on #846
Thanks for reporting the issue. Looks like you're using legacy driver which is known having trouble to deal with nested types. I'd suggest you upgrade to latest driver and try again. FYI, below works for me:
[code]

[2022-03-01 02:21] zhicwu commented on #843
Sorry for the late response. Native format is similar as RowBinary except it's organized by columns(actually blocks but similar). As of now, before v0.3.3 release, you have to use `BinaryStreamUtils` and extend its functionalities to support batch read/write(e.g. read multiple Int64 values from byte array), which could be tedious. What's more important, this requires changes not only in your Kafka

[2022-03-01 05:17] fsgdgsdfgsgd opened #847 "Is it support HTTPS protocol?"
Hi guys,

I tried to connect to my CH node through HTTP protocol and it was successful. Then I want to connect via HTTPS and change the port to 8443. But I encountered this error:
[code]
It seem that the library still use HTTP parser. Does this mean that currently this library does not support HTTPS connections?
But I noticed that there is configuration about ssl in ClickHouseConfig class.
Does an

[2022-03-01 05:49] gauravphoenix commented on #843
Are there plans of providing simpler ways to generate data in native format?

[2022-03-01 06:01] zhicwu commented on #847
Yes it supports https. You may need two connection properties:
* ssl=[true|false]
* sslmode=[NONE|STRICT]

You can specify in connection string as well, for example: `jdbc:ch://localhost:8443/?ssl=true&sslmode=NONE`

[2022-03-01 06:08] zhicwu commented on #843
In the `clickhouse-tcp-client` I'm working on, there'll be objects like `ClickHouseBlock` and `ClickHousePacket` etc. along with serialize and deserialize methods for this purpose. Once it's mature, I'm going to promote those classes to `clickhouse-client` so that we can use them in `clickhouse-http-client` as well.

[2022-03-01 06:46] fsgdgsdfgsgd commented on #847
I followed this sample to develop, should I switch to JDBC driver?
[code]

[2022-03-01 07:22] AlexanderZavoykin commented on #846
Thank you for answer! I use the leatest version (0.3.2). Still getting the same problem when declaring some column as Map(LowCardinality(String),String).
I`m a little bit newbie in opening issues. So excuse me if the issue itself is not so informative as needed. Please, do ask me for any additional info.
Here is the screenshot. It seems that the closing bracket ")" still does not let to parse corr

[2022-03-01 07:59] zhicwu commented on #847
What's the use case? You should if you need stable API and don't care about overheads introduced in JDBC driver like SQL parsing and additional object creation. Or, if you prefer low-overhead and async calls, you may use Java client shown above.

[2022-03-01 08:00] zhicwu commented on #846
Please change maven groupId to `com.clickhouse`, the new version should be `0.3.2-patch5`. Also please use the new driver `com.clickhouse.jdbc.ClickHouseDriver`.

[2022-03-01 08:21] fsgdgsdfgsgd commented on #847
Sorry I didn't make it clear. Actually, I want to know how to set ssl through Java client, because I see your example is using JDBC driver.

[2022-03-01 08:27] fsgdgsdfgsgd commented on #847
Oh I found it. I should use `ClickHouseRequest.option()` to set property. Very sorry! :)

[2022-03-01 08:28] jnd77 opened #848 "Unsupported data type: Bool"
Hi.

I noticed the method below does not handle the Bool type. Is there a reason, or is it an oversight ?

https://github.com/ClickHouse/clickhouse-jdbc/blob/3d921d444e7945859d674c736c2e3c3399ec6f02/clickhouse-client/src/main/java/com/clickhouse/client/ClickHouseValues.java#L950

Thanks.

[2022-03-01 08:45] zhicwu commented on #848
Definitely oversight and thanks for pointing it out :) Will release patch6 in weekend to fix this.

[2022-03-02 12:54] mjhamm75 opened #849 "Is the driver fully jdbc compliant?"
I am trying to use `NamedParameterJdbcTemplate` and the driver is not interpolating the query arguments into the query string. Here is a StackOverflow describing what is going on.

https://stackoverflow.com/questions/71314115/why-are-namedjdbctemplate-not-working-with-clickhouse-jdbc?noredirect=1#comment126068476_71314115

What am I getting wrong?

[2022-03-02 14:31] zhicwu commented on #849
The error message is confusing and I really need to make it clear. Anyway, it meant no parameter found in the query.

Can you remove `properties.setProperty("namedParameter", "true")` and try again? The property is used to enable named parameter support(instead of JDBC style `?` placeholders) in JDBC API. `NamedParameterJdbcTemplate` is an extended wrapper to substitute named parameters to `?` pla

[2022-03-03 22:59] eugeniasimich opened #850 "Array of string was not implemented?"
We migrated to the new driver and we're getting ```java.lang.IllegalArgumentException: Only singleton array is allowed```. I checked the repo and see that Array of numbers was implemented but not array of other stuff. Am I right? Is there a way to overcome this error?

[2022-03-03 23:12] zhicwu commented on #850
Both `select ['a','b']::Array(String)` and `select [('a'),('b')]::Array(Tuple(String))` work for me.

Could you please provide some more information like version of the driver and steps to reproduce the issue? If you have code snippet(SQL/Java) for reproducing that would be even better.

[2022-03-03 23:33] eugeniasimich commented on #850
Sure!
We're using "0.3.2-patch5" version of jdbc, client, http-client
We have a table in CH with a field of type Array(String) and we're trying to insert into it.

(Code is in scala, we use doobie library, we implemented our own doobie `Put` instance, but also checked with postgres instance and implicit converters and it fails the exact same way)

This is the error we're getting
[code]

[2022-03-04 00:15] zhicwu commented on #850
Unlike array of primitives, array of String is simply treated as Object. That's why there's no update(String[]) method in ClickHouseValue class and it's not handled specifically in update(Object).

I see. I assume that you're using `PreparedStatement` for batch insert.

If that's the case, could you please use input function as shown in [examples](https://github.com/ClickHouse/clickhouse-jdbc/tree

[2022-03-04 15:08] debychkov opened #851 "Lost ArrayToStringDeserializer in ClickhouseResponse"
Hi, i'm migrating from 0.2.6 to 0.3.2, and ran into another issue. Code example:
[code]

Fails with exception while parsing response:
[code]

It's probably related to https://github.com/ClickHouse/clickhouse-jdbc/pull/740.

ClickhouseResponse "data" node expects array of arrays (columns/rows), but when we have tuple in a result set it's also written as array, so Gson cannot parse the third array.

[2022-03-05 12:29] zhicwu commented on #851
Thanks for reporting the issue. It seems you're using the legacy driver. The new driver is `com.clickhouse.jdbc.ClickHouseDriver`.

Are you relying on JSON data format and extended API? If that's the case, you probably don't have to use JDBC driver but Java client.

[2022-03-05 12:30] zhicwu commented on #848
Will release tomorrow after some more testing.

[2022-03-05 12:30] #848 closed

[2022-03-05 12:30] #847 closed

[2022-03-05 12:32] zhicwu commented on #849
Feel free to reopen if the issue remains.

[2022-03-05 12:32] #849 closed

[2022-03-05 12:33] #846 closed

[2022-03-06 08:21] zhicwu commented on #850
Starting from `0.3.2-patch6`, `insert into table(col1,col2,col3) values(?,?,?)` is treated as `insert into table(col1,col2,col3)`(streaming instead of sending large SQL with values expression). `select col1,col2,col3 from table where 0` will be issued for type inferring when creating PreparedStatement. This means you no longer has to change code by switching to input function.

However, the implem

[2022-03-06 08:21] #850 closed

[2022-03-06 16:06] zheyu001 commented on #850
If using `insert into mytable select col1, col2, col3 from input('col1 String, col2 DateTime64(3), col3 Array(String)`, do I still need to use
[code]
?

Can I just use ps.setObject(index, obj) for any types of data for simplicity? And can ps.setObject(index, obj) handle String[] correctly in this case?

[2022-03-06 16:26] zheyu001 commented on #850
Besides why only 1 element array is allowed as shown [here](https://github.com/ClickHouse/clickhouse-jdbc/blame/master/clickhouse-client/src/main/java/com/clickhouse/client/ClickHouseValue.java#L916-L917)?
IIUC, if user trying to insert [0.1, 0.2] it will throw this illegal argument exception. Similarly for other collections.

[2022-03-06 20:42] den-crane opened #859 "setReadOnly() is not implemented"
https://stackoverflow.com/questions/71364579/how-to-set-jdbc-jdbi-connection-for-clickhouse-to-be-readonly

[2022-03-07 04:56] zhicwu commented on #850
Yes. `input('col1 String, col2 DateTime64(3), col3 Array(String)')` was parsed(without additional network call), so the driver knew there are 3 typed parameters.

Maybe not. By default, the driver use SQL-based PreparedStatement, which will simply convert parameters to string, substitute `?` placeholders, and then send the large SQL to server. It's inefficient as it's text-based and it involves lo

[2022-03-07 05:06] zheyu001 commented on #850
Thanks for the details @zhicwu, really appreciate it!

[2022-03-08 17:27] eugeniasimich commented on #850
Thanks @zhicwu!

[2022-03-09 10:09] debychkov commented on #851
Thanks for the answer.

We have a lot of interactions with clickhouse via jdbc in our code, and migrating it to http-client may take a lot of time. Also, yes, we are using queryJson a lot, so, turns out, we cannot migrate to non-legacy driver.

The scope of my task was just to update driver, so that it could parse CH exception codes with dots and commas alike.

I will try to make pull request, tha

[2022-03-09 11:48] usmanq8 opened #861 "how to batchInsert using ClickhouseHttpClient ?"
do we have any mechanism to batchinsert using  java ClickhouseHttpClient? or its more deeper low level drivers need to be used here.
As JDBC driver has performance issues as compared to its client driver.

[2022-03-09 20:06] debychkov commented on #851
done: https://github.com/ClickHouse/clickhouse-jdbc/pull/862

I'm sorry, if anything wrong there - I'm a bit new to public github.

[2022-03-09 23:53] zhicwu commented on #851
I see. Thanks @debychkov for the details and sorry for the inconvenience caused at your end.

Yes, it makes perfect sense to stay with JDBC API. It seems performance is not a concern, so it should be fine to use legacy driver. However, there are a few things you may want to consider:

1. extended API / non-JDBC API
  There's always better driver, so it's better to avoid non-JDBC API. IMO, JSON de-

[2022-03-10 00:45] zhicwu commented on #861
Of course - the JDBC driver is built on top of Java client. Although `ClickHouseHttpClient` was used by default, in case you want to switch to a different protocol like gRPC or TCP later, it's better to stay with `ClickHouseClient`, which is more generic.

Anyway, below is an example for you to start with:

[code]

[2022-03-10 02:41] Jkanon opened #863 "date type convert error"
**versions:** clickhouse-jdbc 0.3.2 with mybatis3.5.9

**exception:** DB::Exception: Cannot convert string 2022-03-10 23:59:59.999 to type DateTime (version 20.8.3.18)

**issues:**
when i use a java date type field to limit the datetime field in the database via mybatis, I found that the exception occurs for versions above 0.3.2, while everything is ok when it downgraded to 0.3.1

[2022-03-10 03:44] zhicwu commented on #863
Thanks for reporting the issue. Could you provide sample code(Java / SQL) to reproduce the issue? It looks like you're inserting timestamp into DateTime32 column.

[2022-03-10 09:47] usmanq8 commented on #861
Sorry for that, i am new to get into Clickhouse usage. But how would it bind it self to respective table fields then ? as in query params we know particularly where to specify. In this case, i have List of e.g. employees to insert in bulk into Table Employee.

[2022-03-12 08:13] vumdao opened #865 "[SQL Exception] com.clickhouse.client.ClickHouseConfig.getMaxResultRows()I"
Clickhouse version 21.3.14.1

Client driver: [ClickHouse JDBC](https://mvnrepository.com/artifact/com.clickhouse/clickhouse-jdbc) » [0.3.2-patch5](https://mvnrepository.com/artifact/com.clickhouse/clickhouse-jdbc/0.3.2-patch5)

`max_result_rows`
[code]

Detailed Error Report
[code]

[2022-03-12 10:21] zhicwu commented on #865
Do you have more information like stack trace of the exception? Just tried the query on DBeaver but not able to reproduce.

[2022-03-12 10:25] vumdao commented on #865
@zhicwu Full stack trace
[code]

[2022-03-12 10:32] zhicwu commented on #865
Thanks @vumdao but the stack trace seems irrelevant. Could you provide reproduce steps? Would be great if you can provide sample code in Java / SQL to reproduce the exact same error.

[2022-03-14 12:03] #851 closed

[2022-03-14 12:03] #859 closed

[2022-03-15 02:06] ltl0814 opened #870 "ClickHouse QueryID Issue"
Hi , I have a scenario here , we need to get query ID before CH return result , because user don't know this query executed quickly or not , so we injected query ID by modifying the bytecode to override your queryID ,so that we can kill this query by accurate queryID,  but these days we upgrade CH to 0.3.2 ,we found that you have changed this code by this way(below image) , and this is a bit trick

[2022-03-15 03:26] zhicwu commented on #870
Perhaps you can call Statement.cancel() so that you don't have to know the query ID and kill the query manually?

[2022-03-15 03:57] ltl0814 commented on #870
emm... we don't use native jdbc(mybatis instead) , so it will be a little trouble to get statement . I mean that do we can find some ways to use my query ID not yours or give me some method to get your queryID so that I can kill query as I want ? : )

[2022-03-15 04:14] zhicwu commented on #870
I see. Just did a quick search and it seems mybatis still does not support cancel.

Anyway, I think we need to enhance the driver to expose methods for setting/getting query id. Before that, I can only think of AOP to replace query id passed to Clickhouse request.query(sql, queryId).

[2022-03-15 04:32] ltl0814 commented on #870
good idea, thank you so much : )

[2022-03-15 04:38] zhicwu commented on #870
I think there are a few issues requesting an interceptor and the ability to customize query id etc., I'll enhance the driver to expose an interface for this.

[2022-03-15 08:21] kassak opened #871 "No more option to pass session_id"
Since 0.3.2 there is no option to pass session_id to Driver.connect.
DataGrip actively uses it to provide interactive sessions.

That applies to `com.clickhouse.jdbc.ClickHouseDriver` for `ru*` everything is ok

[2022-03-15 15:13] eugeniasimich opened #872 "[JDBC Compliant Mode] warnings"
Hello, I have one question regarding these warnings we're getting:
[code]
[code]

So far we've been ignoring them as the insertions we were performing worked. But I'm not sure what they mean, I understand that transactions are not supported but should we worry? If not, can we calm those without changing the loglevel to error?

Thanks in advance

[2022-03-15 23:40] zhicwu commented on #872
Sorry the message was not very clear. Most developers know ClickHouse does not support transaction and savepoint as of now. However, for people using ETL tool etc., they might know that, so I think it's better to leave some clues in log.

Yes it can be annoying. As of now, to eliminate the warnings, you have to change log level for `com.clickhouse.jdbc.internal.ClickHouseConnectionImpl` to error.

[2022-03-15 23:48] zhicwu commented on #871
Hi @kassak, you can set connection property `custom_http_params` to `session_id=mySessionId`, if you're not using gRPC, which is still experimental as of now.

My trial license has been expired, so I only tried on DBeaver.

[2022-03-16 09:58] AllanLeanderRostockHansen opened #873 "Can't browser schema with DBeaver"
I can't see/browse the schema (tables, views and such) using DBeaver, but only on connections using this driver... the legacy driver works fine. Querying the data works just fine.

DBeaver version: 22.0.0.202203060510
Clickhouse version: 20.8.12.2

![missing_views_dbeaver](https://user-images.githubusercontent.com/64133386/158564600-33ec091b-cb47-4fa4-bb2c-68110aab0b43.png)

[2022-03-16 14:55] eugeniasimich commented on #872
Thanks @zhicwu

[2022-03-16 15:53] #865 closed

[2022-03-16 17:57] standup-jb opened #874 "Use clickhouse-jdbc save bitmap to CK error ."
Is there have right demo to use clickhouse-jdbc save bitmap to ck server . I faced this problem maybe isn't a bug . Is there anybody can help me to solve this problems.

### My Env
`  <dependency>

      <groupId>com.clickhouse</groupId>
      <artifactId>clickhouse-jdbc</artifactId>
      <version>0.3.2-patch6</version>

    </dependency>`

CK server version is 21.6.5.37

### Create table SQL
`
C

[2022-03-16 22:58] k3rnL opened #875 "Writing in RowBinary"
Hello,

I'm trying to implement a "Sink" in my application and I thought that the RowBinary format would be the fastest.

I simplified for now to write only 3 columns, but I don't understand why I get this error from CH:
[code]
There is a hexdump of what I write with my program :
[code]

If I dump the same data from the client I get this :
[code]
The difference I see are the "\n" (0x0A) in the gen

[2022-03-16 23:37] zhicwu commented on #875
Hi @k3rnL, could you share table DDL? If there's nullable column, you'll have to write a flag to indicate its value is null or not. Also you don't have to specify `table(table)` since you provided the query already.

[2022-03-16 23:41] zhicwu commented on #874
Hi @standup-jb, please use new driver `com.clickhouse.jdbc.ClickHouseDriver` instead. `ru.yandex.clickhouse` package and legacy will be removed soon. Also you may want to check below example:

https://github.com/ClickHouse/clickhouse-jdbc/blob/3b0a353881349a4c3f7411c1ddfa62c4e7638dd7/clickhouse-jdbc/src/test/java/com/clickhouse/jdbc/ClickHousePreparedStatementTest.java#L573-L594

[2022-03-17 00:01] zhicwu commented on #873
I'll take the blame of introducing weird table types in the new driver :p The purpose was to categorize database objects in more categories other than just TABLE and VIEW. I submitted feature request dbeaver/dbeaver#14773 hoping they can be better supported in SQL clients.

@enqueue also suggested to stay with TABLE and VIEW as nicely documented in #778. Apart from that, I noticed the change cause

[2022-03-17 03:38] standup-jb commented on #874
I run the provided unit test code , still has error .

    @Test
    public void testBatchInput() throws SQLException {
            Properties properties = new Properties();
            properties.setProperty("user", "default");
            properties.setProperty("password","password");
            properties.setProperty("continueBatchOnError", "true");
            ClickHouseDataSource clickHouseD

[2022-03-17 03:38] PatrickTu opened #876 "DateTimeException when trying to parse Date objects into ClickHouseDateValue"
-----------

I am writing a service to ingest data into ClickHouse. I won't have the ability to modify the data type of each object prior to creating the `PreparedStatement`. As a result, to keep things generic, I am depending on `InputBasedPreparedStatement` to auto-resolve the data types by referencing the table's columns.

[code]

There are cases where the upstream data source contains `java.ut

[2022-03-17 04:04] zhicwu commented on #874
Judging from the exception you provided, it seems you're mixing new driver and legacy code. Can you use `com.clickhouse.client.data.ClickHouseBitmap` instead? If it's still not working, can you run the exact test I mentioned above without modification?

[2022-03-17 04:07] standup-jb commented on #874
Yes, It is my mistakes. I can run the unit test code success .

[2022-03-17 04:11] zhicwu commented on #876
Hi @PatrickTu, why not create an adaptor to convert legacy `java.util.Date` to recommended types like `java.time.LocalDate` or `java.time.LocalDateTime`?

[2022-03-17 04:51] standup-jb commented on #874
@zhicwu Now, I can use clickhouse-jdbc write bitmap to ck . But i faced another issues .

I randomly added 100 long numbers to Roaring64NavigableMap in the unit test, and then executed and saved it to CK. I execute bitmapToArray in CK, the data displayed is completely different from the number I added to the bitmap

### The UnitTest Code
`        @Test
        public void test12() throws SQLExcept

[2022-03-17 04:58] zhicwu commented on #874
Yes, like I mentioned earlier:

[2022-03-17 05:02] standup-jb commented on #874
I must use the long type (64bit) . So the bitmap32 is not useable for me . Is there have any solutions？

[2022-03-17 05:02] standup-jb commented on #874
I must use the long type (64bit) . So the bitmap32 is not useable for me . Is there have any solutions？

[2022-03-17 08:59] k3rnL commented on #875
How to precise which columns I want to write without .query() ? In this case I write all the columns, but in nominal usage it must be able to write few columns over the total available in a table

Yes, the doc was pretty clear about this, so I test if the column is nullable and write an extra byte in this case only. But I simplified the table to be sure I don't do any mistake with this.
There is t

[2022-03-17 11:16] sholokhov opened #877 "Prepared statement inserts don't work with materialized columns"
Hi!

After switching from `0.3.1` driver we started to see that inserts are failing if table has a materialized columns. We prepare insert as following:
[code]
where distr.table_test is a Distributed table with additionally defined `mat_rating` column. On `0.3.1` insert works fine, but on `0.3.2-patch{6,7}` (I've tested those 2) it fails with:

Seems to be a regression?

[2022-03-17 11:22] zhicwu commented on #877
Could be. What's version of ClickHouse? And the table DDL? I need them to reproduce the issue first.

[2022-03-17 11:41] sholokhov commented on #877
Clickhouse version is 22.2.2.1.
SQL:

[code]

[2022-03-17 11:52] zhicwu commented on #877
Thanks @sholokhov. Why `mat_rating UInt8` is needed for the distributed table? I can reproduce the issue even with CLI client. Removing the column seems working.

[2022-03-17 14:33] sholokhov commented on #877
We actually run read queries against this distributed table and use it to distribute data during inserts. So we need this field to be presented in distributed table. Or is there any workourd for this?

[2022-03-17 22:23] #876 closed

[2022-03-18 00:08] zhicwu commented on #877
@sholokhov, I don't think it's an issue with any ClickHouse client but the server. Just did a quick search, a similar case were first reported in ClickHouse/ClickHouse#2331, and maybe someone can take [this](https://github.com/ClickHouse/ClickHouse/blob/2e22164cd7e97bba14abedca8dcbf472e008db3a/tests/integration/test_sharding_key_from_default_column/test.py#L56-L77) integration test as an example t

[2022-03-18 13:49] sholokhov commented on #877
Hmm, interesting! I've tried with `mat_rating UInt8 MATERIALIZED -1` and it worked fine, thanks! Will also play around with splitting the distributed table on RO/RW, but indeed it seems to be less convinient because of other dependencies. Took a look on the issue you've mentioned and curios how it was solved for them? 🤔

Anyways, thanks for help! I don't mind if you use provided DLL in integration

[2022-03-18 13:49] #877 closed

[2022-03-18 14:57] kassak commented on #871
Thanks!
Can we have it as driver property to match previous driver's interface?
Or compatibility is not addressed by the new driver?

[2022-03-19 22:43] PatrickTu opened #878 "is it possible to specify DEFAULT value for PreparedStatements"
**Table DDL**

[code]

--------

From ClickHouse's [documentation](https://clickhouse.com/docs/en/sql-reference/statements/insert-into/#insert), looking to specify `DEFAULT` when inserting multiple values that should utilize the default value defined for the column.

[code]

Is it possible to specify this using `PreparedStatement`?

[code]

-------

**Expected results**

| id   | date

[2022-03-21 08:56] zhicwu commented on #878
Sorry for the late response. Please use `null` value.

[2022-03-21 08:58] zhicwu commented on #875
Sorry you have to use `.query("insert into <table>(<columns>)")` as of now, when you don't want to insert all columns. For your case, please remove `.table(table)` as it will override your query.

[2022-03-21 09:03] zhicwu commented on #871
I plan to add `custom_settings` in 0.3.3, so that nobody has to use above workaround, which is limited to http protocol. I think I can add `session_id` as well for backward compatibility, but maybe not all other properties in the legacy driver.

[2022-03-21 09:43] zhicwu commented on #874
Sorry @standup-jb, I have very limited knowledge regarding bitmap so it's going to take a while for me to figure this out, not to mention that my focus is primarily on v0.3.3.

Do you want to take it over by submitting pull request for full bitmap64 support?

[2022-03-21 09:49] zhicwu commented on #863
In case anyone else ran into similar issue:

* use `parseDateTime*BestEffort*` function in your query so that ClickHouse server will do that for you
* use input function or simply `insert into <table>(<columns>)`(without values expression) for insertion so that the JDBC driver can help
[code]

[2022-03-21 09:49] #863 closed

[2022-03-21 09:55] zhicwu commented on #861
Sorry for the late response.

It's a low-level Java client, so it does not support binding. Everything is streamed from client to server, but you'll have to use something like `BinaryStreamUtils` to write values one by one in binary format, which could be tedious. There's `typeMappings` property in JDBC driver but it does not support advanced data binding. I'll think about this and try to implemen

[2022-03-21 10:01] zhicwu commented on #813
Perhaps it's better to implement a plugin with custom datasource and steps(e.g. ClickHouse Table Input and Output) for PDI. However, it might not worthy of doing so because 1) Apache Nifi seems more popular; and 2) Apache Hop seems to be a successor of PDI.

[2022-03-21 10:01] #813 closed

[2022-03-21 14:00] PatrickTu commented on #878
Hi @zhicwu, I tried to supply `null` but this error comes up when we run `addBatch()`.  This uses the same table from above.

[code]

[code]

[2022-03-21 14:07] zhicwu commented on #878
Thanks @PatrickTu. This is definitely a bug. Will fix the issue and release a new patch in the coming weekend.

[2022-03-21 17:48] k3rnL commented on #875
This solved my issue. Thanks a lot :)

[2022-03-21 17:48] #875 closed

[2022-03-21 22:42] gauravphoenix opened #880 "How to use ClickHouseRowBinaryStream to write map?"
I am using`ClickHouseRowBinaryStream` to write data like this

[code]

there are no methods like `.writeMap`. How do I go about it?

[2022-03-22 05:58] zhicwu commented on #880
Nested type like `Array`, `Tuple`, `Map` and `Object` etc. is a bit more complex than simple types. You may take [this](https://github.com/ClickHouse/clickhouse-jdbc/blob/3b0a353881349a4c3f7411c1ddfa62c4e7638dd7/clickhouse-client/src/main/java/com/clickhouse/client/data/ClickHouseRowBinaryProcessor.java#L380-L391) as an example to start with.

[2022-03-22 08:37] bill-mao commented on #761
I read clickhouse-jdbc source code,  send part is as same as sql as follows
[code]
when i try with `insert values` , it works.
I guess it is problem of clickhouse.

[2022-03-22 08:39] bill-mao commented on #761
Here it is :
https://github.com/ClickHouse/ClickHouse/issues/10301

[2022-03-22 09:15] zhicwu commented on #761
In legacy JDBC driver, it uses TabSeparated format, but this has been changed in the new driver(since 0.3.2). It's now RowBinary, and you have two workarounds as I mentioned at [here](https://github.com/ClickHouse/clickhouse-jdbc/issues/863#issuecomment-1073695021).

[2022-03-22 09:59] bill-mao commented on #761
It really helps, thank you.

[2022-03-24 00:39] gauravphoenix commented on #880
@zhicwu  thanks for the idea! I was able to make a simple map work like this-

[code]
However, I can't make nested maps work.
e.g. if I defined a Map like this in CH-

`Map(Int32, Array(Tuple(String, Array(Int32))))`

and then try to serialize like this-

[code]

I do not get any errors, but when I query data in ClickHouse, instead of seeing the expected value, I see java memory references like th

[2022-03-24 01:21] zhicwu commented on #880
By default, ClickHouse data types are mapped to corresponding Java classes. For instances:
| ClickHouse Data Type | Java Class |
| ---------------------- | ---------- |
| Array                             | Object[] or primitive array like int[] |
| Tuple                             | List, usually immutable |
| Map                               | Map |
| Object/JSON                | List(because

[2022-03-24 01:48] gauravphoenix commented on #880
Hi @zhicwu ,
when I query the table like `select * from table..\G` using the clichouse cli, I see something like this

[code]

whereas the expected values are the real values e.g
[code]
here is how my map looks like

<img width="683" alt="image" src="https://user-images.githubusercontent.com/627662/159825712-0b49a4fb-89d8-4078-948e-e6d13911e3f7.png">

[2022-03-24 01:52] PatrickTu opened #881 "NPE when inserting BigDecimal values to Decimal(19,2)"
Hi, using `PreparedStatement`, I am attempting to insert `BigDecimal` values into `Decimal(19,2)` columns; it throws **NPE** when we attempt to write to `ClickHouseOutputStream`. Is this intended?

If we construct the `INSERT INTO` statement with `NULL`, ClickHouse uses the defined default values.

**Table DDL and Inserts**

[code]

**Expected Rows**

| id   | col1  | col2  |
| :--- | :---- | :---

[2022-03-24 02:00] gauravphoenix commented on #880
I think what's wrong here, the Tuple is expected to be a List but in my case, it is a Map, let me make some changes to see if that fixes it.

[2022-03-24 02:03] zhicwu commented on #880
Yes, and `Array(Tuple(...))` should be mapped to `List<?>[]` not `List<Map<..>>`.

[2022-03-24 02:04] zhicwu commented on #881
Thanks @PatrickTu, I think it's same issue as you reported in #878.

[2022-03-24 02:06] zhicwu commented on #878
Turns out there's no generic approach to write empty or null value in RowBinary format. Switching TabSeparated format might work though. NPE is ugly and should be avoided in general but I need to do some more testing to see if there's negative impact to performance.

[2022-03-24 04:35] PatrickTu commented on #878
Okay, I'll play around with TabSeparated format when I have more bandwidth.

In the meantime, to get past the issue of associating `NULL` with a column's default value...

 Before I run `setObject(int, value)`, I will check if the value is null and then...

1. Overwrite the value if the column has a defined default value
2. Overwrite the value based on the default value of the corresponding `Click

[2022-03-24 05:03] zhicwu commented on #878
Sorry I didn't make it clear. You don't have to deal with too many details of the data format , you just need to change connection property format to `TabSeparatedWithNamesAndTypes`. This way, the driver will use `TabSeparatedWithNamesAndTypes` for select queries and `TabSeparated`(without headers) for insert queries. It does not work in latest release(0.3.2-patch7), but I'll fix that in these two

[2022-03-24 05:18] zhicwu commented on #880
I have to admit the API should be improved as well. There are a few more features related on 0.3.3 branch, let me port some of the changes and get them merged into the upcoming patch release.
* `ClickHouseDataStreamFactory` will expose methods to get `ClickHouseSerializer` and `ClickHouseDeserializer` for given `ClickHouseFormat`
* `ClickHouseDataProcessor` will expose methods to read and write va

[2022-03-24 16:59] #880 closed

[2022-03-25 12:25] Sidlight opened #882 "Problem with ClickHouseStreamCallback"
We in the company use ClickHouseStreamCallback, from the package ru.yandex .clickhouse. Is it planned to transfer it, or is there an alternative?

[2022-03-28 08:55] zhicwu commented on #882
There's no callback in new Client API but I can add it in the upcoming patch release. As of now, a workaround would be using `ClickHousePipedStream`, to write data on one side, and read from the other side.

[2022-03-28 18:07] marcioapm opened #883 "Cannot accept String as Enum8 value"
Observed:
Calling `PreparedStatement.setObject` for a column of type `Enum8(0 = 'production', 1 = 'development')` with a String as parameter throws exception:
[code]

Version: `0.3.2-patch7`

Expected:
The client is able to accept a string as value for an enum.

[2022-03-28 22:35] zhicwu commented on #883
Thanks for reporting the issue. Do you have corresponding enum type in Java? You can pass an num value to set object. I'll enhance the driver by adding a new class (ClickHouseEnum?)  to represent dynamic enum.

[2022-03-29 10:57] n5a5 opened #884 "Question: Does the driver supports auth via GSSAPI/Kerberos?"
I'm looking for a way to connect to a ClickHouse instance with krb5 auth from DBeaver. Is it possible? If it is, can you provide any info on how to do it? If not, do you guys have any plans regarding such setups? Thanks.

[2022-03-30 09:12] zhicwu commented on #884
Sorry it's currently not supported, but I think it's not difficult to add. Let me see if I can squeeze it into v0.3.3. Having said that, I need to release patch8 first :facepalm:.

[2022-03-30 12:45] deniztek commented on #813
Hello, as you said I've tried to clickhouse input and output on the apache nifi program. However, I encountered some errors during to connecting the clickhouse. I've added DBCPConnection pool then in the configuration section I entered my clickhouse information but as you can see in the picture I got error in the database driver section. In order to solve this problem I compiled JDBC driver with m

[2022-03-31 06:06] fe19880924 opened #885 "TabSeparated Lexical error"
[WARN] [main] ru.yandex.clickhouse.jdbc.parser.ClickHouseSqlParser - Lexical error at line 2, column 38.  Encountered: "\u8fc7" (36807), after : "". If you believe the SQL is valid, please feel free to open an issue on Github with this warning and the following SQL attached.
insert into collect_alarm_event(id,alarm_type,alarm_reason,server,finish_time,confirm_user,status,version,create_time) FORMA

[2022-03-31 09:06] YoKv opened #886 "mybatis deserialize Map(String, Array (Nullable (DateTime64(3))) ) failed"
version: clickhouse-jdbc 0.3.2-patch7

[code]
![foo](https://user-images.githubusercontent.com/15179941/161019048-92b61103-460d-4691-8f40-7a2220f5a2e9.jpg)

![debug](https://user-images.githubusercontent.com/15179941/161019059-9adc8281-3773-4b4c-be1a-398b81411364.jpg)

[2022-03-31 22:37] zhicwu commented on #885
Thanks @fe19880924. It's a warning so the insertion was success, right? Let me add a few more test cases to cover this.

[2022-03-31 22:40] zhicwu commented on #813
@deniztek, the error message suggested you to check driver location. Perhaps you should remove `$NIFI_HOME/`?

[2022-04-01 01:16] zhicwu commented on #886
@YoKv, could you share a simple Java program using mybatis to reproduce the issue? It works fine at my end. As you can tell from below example, `Map(String, Array (Nullable (DateTime64 (3))) )` is mapped to `Map<String, LocalDateTime[]>` in Java - I'm not sure how mybatis handle that, but in general JDBC client should use `ResultSet.getObject()` to retrieve complex value and unwrap as needed.

[co

[2022-04-01 03:31] YoKv commented on #886
okey

[2022-04-01 03:33] YoKv commented on #886
https://github.com/YoKv/clickhouse-mybatis

i found  `    DATE   Map(String, Array (Nullable (DateTime64 (3, 'Asia/Shanghai'))) ) ` throw exception
but '    `DATE`   Map(String, Array (Nullable (DateTime64 (3))) )' not

[2022-04-01 05:23] zhicwu commented on #886
Thnaks @YoKv. I can reproduce the issue and will fix it in weekend.

[2022-04-01 09:28] oliverdding commented on #784
Hi @zhicwu , I wonder if tcp port is transfering data in columner format(Native).

---

Thanks for your jobs!

[2022-04-01 12:44] 779833371 opened #888 "Localdatetime always uses the server time zone"
clickhouse-jdbc version 0.3.1
clickhouse fieldtype : Nullable(DateTime)
clickhouse timezone:Asia/Shanghai
![46e4ee36e47961ed3ccac1c10d0518de](https://user-images.githubusercontent.com/30337595/161260827-f41895a6-64d7-4b74-a32c-d6b626f8f7eb.png)

the java entity type is LocalDateTime

now ,i  hava a record from clickhouse and the value is field start_time 2022-03-31 19:31:15, I use mybatis-pius to

[2022-04-01 13:43] zhicwu commented on #888
Hi @779833371, is there any specific reason of using legacy driver? If not, I'd strongly suggest you to upgrade to 0.3.2, which is a complete rewrite with improved timezone support. In addition, it is recommended to use LocalDateTime/OffsetDateTime etc instead of java.sql.Timestamp.

[2022-04-02 02:47] 779833371 commented on #888
my java entity is used LocalDateTime not Timestamp, I upgrade to upgrade to 0.3.2 ,but useless

[2022-04-02 03:58] zhicwu commented on #888
You need to use the new driver `com.clickhouse.jdbc.ClickHouseDriver` or it won't change. Everything under `ru.yandex` will be removed.

[2022-04-02 04:56] 779833371 commented on #888
i switch driver to com.clickhouse.jdbc.ClickHouseDriver but also useless
![image](https://user-images.githubusercontent.com/30337595/161366859-f394eb82-0538-45f8-a3c8-f30f13813ea0.png)
i want to know why the value trans to UTC time in there, i track the code ,found  before call this method,value is 2022-03-31 19:31:15 ,equals database value,but my serverTimeZone is  Asia/Shanghai,and enter the if

[2022-04-02 06:03] #888 closed

[2022-04-02 06:05] 779833371 commented on #888
I am sorry ,i only switch the driver-class-name but not upgeade pom.xml,  i use group id com.clickhouse an upgeade to 0.3.2,and the problem are resloved,thanks!
<dependency>
            <groupId>com.clickhouse</groupId>
            <artifactId>clickhouse-jdbc</artifactId>
            <version>0.3.2</version>
        </dependency>

[2022-04-02 07:44] zhicwu commented on #888
Good to know. The latest version is 0.3.2-patch7, and patch8 will be released soon.

In case anyone else ran into similar issue, please refer to examples above and #623.

[2022-04-04 08:38] jnd77 opened #889 "ClickHouseColumn bug when parsing a tuple type"
Hi.
There is a bug or unexpected behavior in ClickHouseColumn when parsing a tuple type:

`ClickHouseColumn.parse("col_name Tuple(s String, i Int64)")` is throwing the following exception:

[code]

My use case retrieves the types with a `DESCRIBE TABLE` query and parsing them via `ClickHouseColumn.parse`.

[2022-04-04 09:07] zhicwu commented on #889
Thanks @jnd77, I'm aware of this. Actually it's been fixed in my local in order to support Object/JSON data type.

[2022-04-04 09:20] jnd77 commented on #889
Ok great. :)

[2022-04-04 10:09] zhicwu commented on #889
`ClickHouseColumn` was enhanced to support both `Object(a String, i Int64)` and `Tuple(a String, i Int64)`. However, as mentioned in ClickHouse/ClickHouse#35461, ClickHouse server will only return the latter even the column is defined as `Object('JSON')`.

[2022-04-04 12:52] den-crane opened #891 "external data jdbc does not work"
[code]

[2022-04-04 13:47] zhicwu commented on #891
I know how this sounds like but you need to remove the space between `{` and `tt` :)

I'll enhance the parser together with [query parameter](https://clickhouse.com/docs/en/interfaces/http/#cli-queries-with-parameters) support, after moving it to `clickhouse-jdbc-ext`.

[2022-04-05 18:46] debychkov opened #892 "ClickHouseSqlParser fails to parse ternary operator in select"
Minimal example:
[code]

Clickhouse command line client accepts this query:
[code]

Note: I'm still on the legacy driver, but it seems unimportant - parser is same for both drivers. But there is something - I'm not sure, how it will behave with new driver, but in legacy it can still cause problems. Despite having fallback on sending unparsed sql "as is" and successful server query, it may lead to

[2022-04-06 08:57] zhicwu commented on #892
Thanks @debychkov. You can use parenthesis as a workaround. The loose parser also problem dealing with case ... when as mentioned in #723.

You're right. But the issue is only limited to legacy driver. In new driver, `X-ClickHouse-Format` http header is used instead.

[2022-04-07 11:00] coltnz opened #893 "End of input stream"
When doing an execute on an  insert prepared statement, I get what feels like a compatability error?

[code]

I'm using 0.3.2-patch7 and  ClickHouse server version 21.8.15 revision 54449.  The insert is a parquet one and bit tricky to reduce now but the error is in procesing the response not the request.

If I go in to the debugger, I catch the original exception:

[code]

[2022-04-07 11:27] zhicwu commented on #893
Hi @coltnz, did you use `unwrap` method to get `ClickHouseRequest` and then changed format to parquet for insertion?  If that's the case, you'll have to deal with the response stream(ClickHouseResponse.getInputStream) manually. The driver uses RowBinary by default and has limited support for text format like TSV.

Judging from the error, it seems the driver tried to deserialize response as RowBina

[2022-04-09 04:52] dynaxis commented on #784
Could you share me the exact points of the improvements you have in mind in rewriting `ClickHouseCluster`? I'm not sure if I can spare my time for the contribution myself, but once those are documented somewhere, I'll be able to judge better on how much time I need to spare for it.

[2022-04-09 14:30] zhicwu commented on #784
Thanks a lot @dynaxis, that would be very helpful. Will create a separate issue tomorrow for the discussion.

[2022-04-09 15:41] dynaxis commented on #784
@zhicwu for my projects, I wrote a very simple cluster manager based on your code, and hope to replace it with something official. Since I'm anyway requiring one and wrote a simple one myself, I might be a good candidate for writing an official one.

[2022-04-10 00:49] zhicwu opened #894 "[RFC] Support multiple endpoints for load balancing and failover"
### Background

ClickHouse supports clustering and often runs in a cluster. Typical approaches for load balancing and failover are:
* distributed table
* proxy/gateway(e.g. chproxy, traefik etc.) sitting between client and server
* or modern DNS like consul

Besides, message queues(federated or not) and customization on client-side may require to further optimize reads and writes across servers.

[2022-04-10 00:51] zhicwu commented on #784
Thanks again @dynaxis. Just created #894 to document my thoughts - it does not has to be fully implemented but something to share.

[2022-04-10 01:22] zhicwu commented on #799
Close this one - we can discuss `ClickHouseDataSource` enhancement in #894.

[2022-04-10 01:22] #799 closed

[2022-04-10 11:50] dynaxis commented on #894
@zhicwu it seems I need to plan thoroughly since it won't be nearly impossible to implement all of the features at once. I'll think and try to share my thought soon. BTW, what do you mean by "Parallel query"? How is it different from usual distributed table in ClickHouse? I guess it's a means to query multiple partitioned tables without resorting to the distributed table engines?

[2022-04-10 22:52] zhicwu commented on #894
No worries, we can start small :) Perhaps you can come up with initial pull request to get your changes merged first, and then enhance/refactor gradually in multiple releases. "Fancy" features can be considered at a later stage.

Yes, it's similar as distribute table but not limited to one cluster. It's just immature thought - I was thinking to cover multiple clusters across regions and external d

[2022-04-11 00:01] coltnz commented on #893
No I didn't do anything fancy, just a parquet insert. My original issue was a bad date format, which I uncovered by repeating query with native client.  Similarly when I run out of disk space I got a read bytes error, while the underlying issue in the client.

If I look at the ClickHouseRowBinaryProcessor I wonder if it isn't missed some server checking in getColumns?

I see in    https://github.c

[2022-04-11 00:28] zhicwu commented on #893
@coltnz, could you share code snippet and the query for reproducing the issue? I'm getting closer to release 0.3.2-patch8, so maybe I can fix the issue if it exists in new version.

[2022-04-14 07:56] eden0907 opened #895 "Click House Client - pb reading with Bool type in DbEaver"
Hello,

I  have a strange problem with boolean type , I got an error " Unsupported data type Bool" in DbEaver.
As I don't have this error using the clickhouse-client binary.  I presumed the problem was on the DbEaver side.
I gave my example table and datas (at end of this text) to the DBEaver Team, they reproduce and analyze, and ... It's seems
to be a clickhouse client problem.

System informatio

[2022-04-14 08:02] zhicwu commented on #895
Hi @eden0907, what will you get from `select 1::Bool`? There are a few patches delivered since v0.3.2, could you go to Database -> Driver Manager -> ClickHouse -> Edit -> Libraries -> Download/Update to upgrade driver to 0.3.2-patch7, disconnect and try again?

![image](https://user-images.githubusercontent.com/4270380/163340973-024246a7-e9da-4c10-a419-1e6cf45910ca.png)

[2022-04-14 08:41] eden0907 commented on #895
select 1::Bool
_works fine (I got true)_

I have some other tables with bool type columns, without problem.

But just in the case I submitted with this table and theses datas, I got a problem.
I upgraded the jdbc driver as you preconized me, I closed DBeaver et reopen it again,  but the problem stills.

Please check with my table and datas.

[2022-04-14 08:44] eden0907 commented on #895
Sorry,
With the patch 7 , its OK.  (DBEaver doesn't show the patch by default)

thank you,
I close the issue

[2022-04-14 08:44] #895 closed

[2022-04-14 12:35] Aload opened #896 "When using Flink sinking clickhouse .some error -- java.lang.IllegalArgumentException: Only singleton array is allowed, but we got: ["E5", "E6"]"
When I use v0.3.2 ，
  val array = pst.getConnection
      .createArrayOf(ClickHouseDataType.String.name(),
        ClickHouseArrayValue.of(intoMsg.withArray[JsonNode]("warn").elements().asScala.toArray).asArray())
    pst.setArray(20, array) //告警
    pst.setInt(21, intoMsg.get("isInterpolate").asInt) //是否插补(0正常||1插补)
[code]
this  update  must  size=0?

Caused by: java.lang.RuntimeException: Writin

[2022-04-14 12:41] Aload commented on #896
when i  use  v0.3.2-patch7.A different set of errors resurfaced  exg:

Caused by: java.lang.RuntimeException: Writing records to JDBC failed.
	at org.apache.flink.connector.jdbc.internal.JdbcBatchingOutputFormat.checkFlushException(JdbcBatchingOutputFormat.java:153)
	at org.apache.flink.connector.jdbc.internal.JdbcBatchingOutputFormat.flush(JdbcBatchingOutputFormat.java:179)
	at org.apache.flink.c

[2022-04-14 13:11] zhicwu commented on #896
Hi @Aload, the issue happens when you're trying to update a non-array column using an array, for example: trying to update a `String` column using `new String[] {"E5", "E6"}`.

Would you mind to share the table structure(especially the column you failed to update using array)? Also it would be very helpful if you can provide code snippet for reproducing the issue.

[2022-04-14 13:42] Aload commented on #896
`  pst.setArray(3,  pst.getConnection.createArrayOf("String", Array[String]("3", null, "1")))`

[2022-04-14 13:56] Aload commented on #896
When I coded in Scala, I couldn't achieve the desired effect
The same problem will still occur when I change it to what you said.
`
  pst.setArray(20, pst.getConnection().createArrayOf("String", new String[]{"3", null, "1"}));`

Caused by: java.lang.RuntimeException: Writing records to JDBC failed.
		at org.apache.flink.connector.jdbc.internal.JdbcBatchingOutputFormat.checkFlushException(JdbcBatch

[2022-04-15 01:05] Aload commented on #896
hello  ,when  i use
![image](https://user-images.githubusercontent.com/13082598/163501639-a4197f73-5649-401c-93d6-93bb82a24406.png)
![1649984615(1)](https://user-images.githubusercontent.com/13082598/163501654-2e06e2d4-d4b1-471f-bd45-1b8c819a400a.jpg)
![image](https://user-images.githubusercontent.com/13082598/163501701-7b53525a-97ff-4dfb-8b9c-7ec13121f0e2.png)

[2022-04-15 01:30] zhicwu commented on #896
The exception is irrelevant to your initial question or array. It looks like you passed `null` to a non-nullable String column.

https://github.com/ClickHouse/clickhouse-jdbc/blob/058596195ce1dc24fed2cf20a669459c8eec43d0/clickhouse-client/src/main/java/com/clickhouse/client/data/BinaryStreamUtils.java#L1661

[2022-04-15 12:20] rajjat0602 opened #897 "How to connect to TLS enabled ClickHouse?"
I am having three file tls.crt , tls.key and ca.crt which are needed to connect to ClickHouse but i couldn't find and client or driver that accept these parameter to establish the connection with clickhouse in spring boot.

[2022-04-15 13:19] cofcool opened #898 "ClickHouseValueFormatter#formatTimestamp will ignore millisencods"
When Timestamp type data as the sql parameter, ClickHouseValueFormatter.javaformatTimestamp
[code]

`time.getNanos() % 1000000 > 0` only get Micros and Nanos, is this correct?

[2022-04-15 23:56] zhicwu commented on #898
Hi @cofcool, the legacy driver has problem dealing with timestamp and timezone along with stability issue. Have you tried to upgrade to new driver(more details in #608)?

[2022-04-16 00:44] cofcool commented on #898
Thank you, upgrade to new version solved my problem👍

[2022-04-16 00:52] zhicwu commented on #898
Good to know. Please be aware that the new driver is NOT a drop-in replacement, because it's a complete re-write and the serialization/deserialization format was changed from TabSeparated to RowBinary, so you might want to do some more testing on staging environment.

[2022-04-16 00:57] cofcool commented on #898
Ok, I should do more test, thank you for the replay, ClickHouse is so great.

[2022-04-16 04:35] zhicwu commented on #897
Turns out it was not fully implemented 😅 Just made it work and added a test for regression. Will release together 0.3.2-patch8.

[2022-04-17 01:18] #898 closed

[2022-04-17 01:53] #886 closed

[2022-04-17 01:53] #883 closed

[2022-04-17 02:17] zhicwu commented on #523
Implemented since 0.3.2-patch8. I didn't check how PostgreSQL JDBC driver implemented the feature, but I think it should be all similar.

Couple of things worthy of mention:
1. Use RSA key in PKCS8 format
2. search path of certificate and key files: classpath -> File system(start with ~/.clickhouse first for relative path)
3. set `sslmode` to `STRICT` in JDBC driver - set to NONE will always trust

[2022-04-17 02:17] #523 closed

[2022-04-17 02:19] zhicwu commented on #897
Please refer to more information at [here](https://github.com/ClickHouse/clickhouse-jdbc/issues/523#issuecomment-1100788627).

[2022-04-17 02:19] #897 closed

[2022-04-17 02:19] #881 closed

[2022-04-17 02:27] zhicwu commented on #878
Turns out it's not that simple :( First there's no generic way to set `null` in RowBinary format. On the other hand, switching to `TabSeparated` works in some cases(see tests at [here]()) but not all.

I think the best way as of now is to set default value by yourself, and you have to update application each time default value in DDL is changed... I'll leave this issue open, and try again later by

[2022-04-17 02:55] zhicwu commented on #893
What's the exact error? It sounds like server responded 200 first, and then something happened resulting response only contains an error message. A similar situation was discussed in #650, it's a limitation of current http interface - switching to RowBinary format actually mitigated the impact, despite of the confusing exception :) I think gRPC and TCP interfaces are probably more reliable.

[2022-04-17 02:56] #871 closed

[2022-04-17 03:54] zhicwu commented on #889
Looks like still have issue :<

[code]

[2022-04-18 05:07] rajjat0602 commented on #523
I have TLS enabled ClickHouse with user name and password since you have mentioned in the above statement that --

[2022-04-18 06:02] zhicwu commented on #523
Hi @rajjat0602, you can only pick one from password and certificate for authentication.

It seems the 3 files(tls.crt , tls.key and ca.crt) are only for server setup and you don't have client certificate. If that's the case, I think you just need set ssl=true and sslmode=NONE without specify any certificate or key. If you want to ensure the client is connecting to a trusted server, you can specify

[2022-04-18 09:20] coltnz commented on #893
Unfortunately, I failed to build the project to make a clean test case (gRPC issues) and my original case was tough to isolate being an s3 paquet read.

The case in 650 seems somewhat similar though my error occurred upfront in the header.  As I noted above though this is handled in the TSV case by:

        if (header.startsWith("Code: ") && !header.contains("\t")) {
            input.close();

[2022-04-19 00:59] zhicwu opened #902 "Error when deserializing complex tuple with nullable elements"
` select tuple(1,[2,3])::Tuple(INT,Array(Nullable(INT)))` works, but `select tuple(1, [2,3], ('4', [5,6]), map('seven', 8))::Tuple(Int32, Array(Nullable(Int32)), Tuple(String, Array(Int32)), Map(String, Int32))` ended up with below error:

[code]

[2022-04-19 01:23] #902 closed

[2022-04-19 08:43] kiwimg opened #903 "Code: 396. DB::Exception: Limit for result exceeded, max bytes: 690.73 MiB, current bytes: 697.25 MiB. (TOO_MANY_ROWS_OR_BYTES) (version 21.11.4.14 (official build))`"
clickhouse-jdbc version :0.3.1-patch
select id, flow_code,merger_mode from dc_clientorg_all WHERE seller_code GLOBAL IN ( 'W23431111123000' ) and partition_time = toDate('2022-02-01')  and is_invalid IN ('0','2'),
query result count only  110;

`	... 35 more
Caused by: ru.yandex.clickhouse.except.ClickHouseUnknownException: ClickHouse exception, code: 1002, host: 192.168.2.191, port: 8123; Code: 3

[2022-04-19 08:44] kiwimg commented on #903
@

[2022-04-19 11:10] zhicwu commented on #903
Hi @kiwimg, what's your expectation? It's server side error so I guess it's not related to JDBC driver?

[2022-04-19 12:29] kiwimg commented on #903
I don't know how to solve it，I modify the server-side configuration， <max_result_bytes>724288000</max_result_bytes>，But it can't solve the problem. It was normal before，I hope to get your help

[2022-04-19 12:31] kiwimg commented on #903
I use Java mybatis MyBatisCursorItemReader，
`    <select id="invokeSql" fetchSize="-2147483648" resultSetType="FORWARD_ONLY" resultType="java.util.HashMap">
        ${sqlString}
    </select>
`

[2022-04-19 23:32] zhicwu commented on #903
I'm not sure if I can help with limited inputs. My suggestion would be:
* check if the 110 rows actually took more than 690.73 MBs
* see if you can reproduce the issue on newer version of ClickHouse
* if you suspect the issue is somehow related to legacy JDBC driver, check http request sent to server and see if you can reproduce the issue using curl

A quick search shows there's an open issue may

[2022-04-20 03:56] kiwimg commented on #903
Thank you very much

[2022-04-20 05:26] kiwimg opened #904 "How to upgrade 0.31 to 0.32?"
How to upgrade 0.31 to 0.32?
Alibaba's Druid is used as the JDBC pool,

[2022-04-20 06:58] zhicwu commented on #904
If you're using standard JDBC API, in general you only need to use the new driver class `com.clickhouse.jdbc.ClickHouseDriver`, which is actually the default.

I'm not familiar with Druid, but as long as the connection pool is not tightly coupled with legacy driver, the upgrade should be transparent in most cases.

[2022-04-21 08:21] oliverdding commented on #784
Hi @zhicwu , may I ask when will the tcp client release?

I am working at my graduation project which target at high performance datasource of clickhouse for spark, and going to take tcp client as last possible choise.

XP I don't want to ask, but it's near the deadline date.

[2022-04-21 09:59] zhicwu commented on #784
Hi @oliverdding, sorry I don't have a reliable ETA as of now, since I only work on the project in my spare time.

I'd not suggest you to count on tcp client for better performance, because the bottleneck is deserialization(converting byte array back to Java objects, primitive or not). Here below is a rough test I did earlier, which might be of use.

A rough idea I have is to use bulk read(~10% imp

[2022-04-21 13:03] stbischof opened #905 "OSGi-Support"
**Use case**
1. I want to run the clickhouse jdbc drivers inside an OSGi Framework.
2. I would like to use the OSGi -pecifies DatasourceFactory.

**Describe the solution you'd like**
1. Use bnd-jar-plugin to generate a proper Manifest.MF file that is needed for OSGI-Bundles(jars)
2. Implement the DatasourceFactory.

**Describe alternatives you've considered**

write manifest by hand

**Additional

[2022-04-21 13:07] zhicwu commented on #905
Thanks @stbischof, it would be great if you can come with up a PR and I'll be happy to merge it :)

[2022-04-22 08:47] stbischof commented on #905
I am currently working on some improvements with bnd to generate the manifest.
How important is the java 9 support for you? what is the minimum target version?

[2022-04-22 09:25] zhicwu commented on #905
JMPS was introduced since JDK 9 - that's the only reason of put module-info.java under java9 directory, in case someone uses JDK 9(in most cases should be one of 8, 11 and 17). I guess we can change to 11 if that helps.

JDK 8. I hope we can upgrade to 11 in 0.4.

It's still important because I'm testing Vector API, which was introduced since JDK 16, revised in 17. In my local, I added java17 dire

[2022-04-22 12:10] stbischof commented on #905
i will do it with target java 11 thank you for the moment.

[2022-04-25 12:40] ruanwenjun opened #906 "Compile failed by testInsertDefaultValue failed"
When I follow with the [documentation](https://github.com/ClickHouse/clickhouse-jdbc#build-with-maven) and execute `mvn clean verify`  to compile the project.
I get a error
[code]
My jdk version is 1.8.

It seems we insert the time is before 1970.

BTW, how to import the latest master branch into IDEA, I find we have the grpc code in repo, and when I execute the test case, it will throw below exce

[2022-04-25 22:49] zhicwu commented on #906
Hi @ruanwenjun, which version of ClickHouse you were using for running integration test(depending on `-DclickhouseVersion`, `-DclickhouseServer` or `~/.clickhouse/test.properties`)? DateTime64 does not work properly in old version, but I should enhance the case to avoid that. IPv6 is something different, you have to enable ipv6 to run the test.

As to IDE, I myself use VSCode which works just fine

[2022-04-26 01:59] ruanwenjun commented on #906
Thanks for your reply, the clickhosue image for IT is `clickhouse/clickhouse-server:latest`(22.4.2.1), and after I add below dependencies into `clickhouse-jdbc`'s pom, the test case can run successfully.
[code]
But there still an assert error.
[code]

[2022-04-27 20:11] subkanthi commented on #784
@zhicwu , Getting started here, thought this will be a good one to get hands dirty, is there a separate issue that I can pick up? Thanks.
-  improve multi-format support - able to read/write using TabSeparated format

[2022-04-27 20:25] shahsiddharth08 opened #907 "Error with Prepared statement in Spark: ArrayIndexOutOfBoundsException : 0"
I am trying to read parquet files from GCS and writing the DataFrame in CH using clickhouse-jdbc driver. My code is working fine the 3rd option using PreparedStatement mentioned [here](https://github.com/ClickHouse/clickhouse-jdbc/tree/master/clickhouse-jdbc). However, when I use the recommended alternative (1st option using `INPUT` statement it fails with following error
[code]

Code:

[code]

Us

[2022-04-28 00:12] zhicwu commented on #784
Hi @subkanthi, it's perfect time to enhance multi-format support and review the code structure. I hope we can stabilize the APIs before 0.4, so that later we can leverage caching and byte code engineering on top of that to further optimize queries. Please feel free to open an issue or pull request for further discussion.

One thing worthy of mention is that, the overhead of DataProcessor and Recor

[2022-04-28 00:14] zhicwu commented on #907
Hi @shahsiddharth08, could you try again by removing `FORMAT TabSeparatedWithNamesAndTypes` in your query? Besides, if you upgrade the driver the latest version `0.3.2-patch8`, `INSERT INTO test_database.test_lite` should work as well, but the difference is that the driver will issue a query `select * from test_database.test_lite where 0` for schema inferring before insertion.

[2022-04-28 08:12] SurelySomeday opened #908 "about use date or localtime to compare"
[code]
[code]

[2022-04-28 14:22] SurelySomeday commented on #908
Hi @zhicwu  , thank you for your reply.
I use the mybatis framework to manipulate clickhouses, and using 'setString' is not a great solution. I locate the mybatis source code, and actually mybatis already knows the type of the parameter and uses 'LocalDateTimeTypeHandler' to process it. So I tried to override 'LocalDateTimeTypeHandler' in my project, and when I called 'setObject', I removed the mi

[2022-04-28 14:52] zhicwu commented on #908
@SurelySomeday, actually the driver will convert the value to String in this case, so it does not make much difference regardless you use setObject or setString :p

If you prefer to set value as binary(in RowBinary format), you can check [this](https://github.com/ClickHouse/clickhouse-jdbc/blob/f9f9683f5dd914f9f7785499478ab7c50307a677/clickhouse-jdbc/src/test/java/com/clickhouse/jdbc/ClickHousePre

[2022-04-28 15:34] yurifal commented on #908
I could be missing something obvious, but will this work?
`select now()>'2022-03-01 00:00:00.000';`

[2022-04-28 15:40] SurelySomeday commented on #908
@zhicwu First of all, thank you very much for replying to me in your busy schedule. I looked at mysql's jdbc code and they did a lot of judgment processing in 'setObject'. Our project, which originally used mysql, is currently moving to Clickhouse, so we found a lot of differences from mysql, but there are also many parts that are compatible without refactoring the code. In mysql jdbc, a lot of ju

[2022-04-28 21:00] den-crane opened #909 "Parquet ingestion issue"
[code]

[code]

the same works with CSV

[code]

Also WHY I cannot do `insert into test format CSV` ?

[code]

full code
[code]

[2022-04-28 22:57] zhicwu commented on #909
Thanks @den-crane. Yes we should be able to load data into a table as long as the format is supported by ClickHouse.

Java client does not parse query which is one of the reasons why it's faster than JDBC driver. However, `insert into test format CSV`(with data specified) could be a simple case(unlike select query which may have settings after format clause) that we can support.

[2022-04-28 23:39] zhicwu commented on #908
Thanks for the suggestion @SurelySomeday. Let me explain this in detail.

Unlike MySQL, ClickHouse has two datetime types for different precision: 4-byte `DateTime32` and 8-byte `DateTime64`. `DateTime` is an alias which can be mapped to any of the two depending on arguments you passed. In addition, ClickHouse does not support `PreparedStatement`, which means ClickHouse client has no way to infer

[2022-04-29 01:20] SurelySomeday commented on #908
@zhicwu
Thank you for your patience, from your reply I have a new understanding of clickhouse, for my needs I think I have a more perfect solution. Modify the 'datetime' type in the database to 'datetime64' so that it can be used normally. Finally, thank you sincerely.

[2022-04-29 03:36] shahsiddharth08 commented on #907
Able to make inserts using PreparedStatement but now I am getting TOO many parts exception. Closing this for now and will create a new question for the issue I am facing now.

[2022-04-29 03:36] #907 closed

[2022-04-29 03:41] shahsiddharth08 opened #910 "Spark job (using JDBC PreparedStatement) task failures with: DB::Exception: Too many parts (307)"
Using PreparedStatement to read files from GCS parquet and writing it in CH.

Inserts in table are happing but the row count is way too less than in parquet files and 1k+ task failures with DB::Exception: Too many parts exception.

Spark Code:

[code]
[code]
[code]

[2022-04-29 06:44] Aload opened #911 "NoClassDefFoundError: com/clickhouse/client/config/ClickHouseOption"
It worked fine when I used Clickhouse-JDBC to run locally, but started reporting an error when the package went into the cluster.  I also added the ClickHouse-JDBC JAR to the Spark jars directory.

env：
spark3.1.2
clickhouse-jdbc 0.3.2-patch8

![image](https://user-images.githubusercontent.com/13082598/165896335-e0d9f558-5627-47b0-ad11-654f71a80cbd.png)
![image](https://user-images.githubuserconte

[2022-04-29 07:19] zhicwu commented on #911
Hi @Aload, it looks you did deploy all dependencies. Please use a shaded jar, the one with suffix like [clickhouse-jdbc-0.3.2-patch8-http.jar](https://github.com/ClickHouse/clickhouse-jdbc/releases/download/v0.3.2-patch8/clickhouse-jdbc-0.3.2-patch8-http.jar) or `-all` instead.

[2022-04-29 07:46] zhicwu commented on #910
@shahsiddharth08, it's an exception from ClickHouse server, so you probably want to adjust settings like [parts-to-throw-insert](https://clickhouse.com/docs/en/operations/settings/merge-tree-settings/#parts-to-throw-insert) etc. and rearrange insert batches accordingly.

[2022-04-29 11:19] Aload commented on #911
So I don't think there's a bag? The same problem occurs when I use both. 0.3.2-Patch8, Clickhouse-HTTP-client
![image](https://user-images.githubusercontent.com/13082598/165934775-a053f8f6-d3dd-4ebc-8a53-f336f9def8a2.png)

![image](https://user-images.githubusercontent.com/13082598/165934721-12a4b5d1-f209-4a88-b898-141298d5ab5e.png)

[2022-04-29 13:35] SurelySomeday opened #912 "Question about the field names returned after the query"
Hello, I have another question to ask.
When I use jdbc, I found that using something like 'select t.name, t.sex from table t', jdbc will return 't.name' as the field name, which will cause it to fail to map to the correct field.
While adding 't.name as name' solves this problem, I'm designing the field 't.name' to be reduced to 'name'. Below is a comparison graph that I cut out from mysql-jdbc and

[2022-04-29 14:38] zhicwu commented on #911
Sorry I meant you did NOT deploy all dependencies. In order to use shaded jar in maven, you need to specify classifier, for example:

[code]

[2022-04-30 03:16] SurelySomeday opened #913 "The 'getBigDecimal' method has a precision of 0 by default"
When using a 'getBigDecimal' query, the 'ClickHouse DoubleValue' is returned, but when converting to 'BigDecimal', use 'scale=0' directly, which will result in a loss of precision.
Although there is such a way as 'getBigDecimal(v, scale)', the current JDBC specification should be deprecated, and the method 'getBigDecimal(v)' is normally used. I think it would be better to use 'BigDecimal.valueOf(v

[2022-04-30 04:27] zhicwu commented on #913
Thanks @SurelySomeday, I'll fix this in patch9.

[2022-04-30 16:05] oliverdding commented on #784
Hi @zhicwu , thanks for your advice and test, which help a lot!

[2022-05-05 01:03] Aload commented on #911
Sorry, I don't quite catch your meaning.  I have also joined your POM.  It doesn't really make a difference  .

`<dependency>

    <groupId>com.clickhouse</groupId>
    <artifactId>clickhouse-jdbc</artifactId>
    <version>0.3.2-patch8</version>

    <classifier>http</classifier>
    <exclusions>
        <exclusion>
            <groupId>*</groupId>
            <artifactId>*</artifactId>
        </

[2022-05-05 01:11] Aload commented on #802
Hey, friend.  I have the same problem, please tell me how you solve it.  Clickhouse - jdbC-0.3.2-all. jar not found

[2022-05-05 03:56] liaoyt opened #915 "NPE when select a nullable field"
version: 3.2.0
class: com.clickhouse.jdbc.ClickHouseResultSet
method: getDate getTimestamp

how to reproduce it:

[code]

and then select with jdbc interface

![image](https://user-images.githubusercontent.com/12195059/166861602-2e78051a-6002-40c0-9a97-6216a8e89d1d.png)

![image](https://user-images.githubusercontent.com/12195059/166861559-f84f2b83-9d7f-4902-a2db-54ff3f284c45.png)

[2022-05-05 04:18] #911 closed

[2022-05-05 04:19] Aload opened #916 "org.apache.hadoop.fs.FsUrlConnection cannot be cast to java.net.HttpURLConnection"
version：spark3.1.2

Caused by: java.lang.ClassCastException: org.apache.hadoop.fs.FsUrlConnection cannot be cast to java.net.HttpURLConnection
        at com.clickhouse.client.http.HttpUrlConnectionImpl.newConnection(HttpUrlConnectionImpl.java:86)
        at com.clickhouse.client.http.HttpUrlConnectionImpl.<init>(HttpUrlConnectionImpl.java:163)
        at com.clickhouse.client.http.ClickHouseHttpC

[2022-05-05 05:03] zhicwu commented on #915
Thanks for reporting the issue. I believe it's been fixed in patch release. Could you upgrade driver to latest and try again?

[2022-05-05 05:05] zhicwu commented on #916
Can you provide context and example to reproduce the issue?

[2022-05-05 05:31] Aload commented on #916
OK

env：
Spark：3.1.2
clickhouse：22.2.2 revision 54455
hadoop ：CDH6.3.2-3.0.0

pom.xml
`
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <group

[2022-05-05 05:33] Aload commented on #916
We can add wechat communication if it is convenient for you

[2022-05-05 05:45] Aload commented on #916
Very feel your reply, according to my check.  This problem has been resolved and needs to be added in the configuration parameters for spark3.1.x run
The spark. SQL. DefaultUrlStreamHandlerFactory. Enabled = false will avoid the happening of the problem.

[2022-05-05 09:32] #916 closed

[2022-05-06 06:58] liaoyt commented on #915
@zhicwu Thanks you and I tried version 3.2.0-patch8 which works fine.

[2022-05-06 06:58] #915 closed

[2022-05-06 08:33] wzqiang1332 opened #918 "Not able to deserialize ClickHouseBitmap for too many bitmaps(>4294967295)!"
**clickhouse-server version**:22.2.2.1
**clickhouse-jdbc version**:0.3.2-patch8

![create](https://user-images.githubusercontent.com/20432873/167093154-53d8a14c-2f56-4417-b942-501bec94040b.jpg)
![search](https://user-images.githubusercontent.com/20432873/167093169-6220c9a5-6e7f-4145-9bc1-890409c595e9.jpg)

**an error occurs when I fetch the bitmap of the next.
even if I adjust the order of index_v

[2022-05-06 09:45] marlondu opened #919 "batch insert into aggregatingMergeTree table"
I have a table with aggregatingMergeTree  engine, like:
[code]

So, How to batch insert data into the table with jdbc api ?
I read ClickHousePreparedStatementImpl.java#executeBatch's code.  because "insert into ... select ..." does not contains "VALUES",
so it execute one by one. and it was too slow.

help. !!!
my clickhosue version: 21.9.1.7426
clickhouse-jdbc: 0.3.2-patch8

[2022-05-06 10:21] illyaSlobozhanin opened #920 "Multiple values insert prepared statement"
[QUESTION] about multiple values in prepared statement.
Probably, after this [COMMIT](https://github.com/ClickHouse/clickhouse-jdbc/commit/09cd66e564966d76d72f996754dbf8311bf1b49d)
between **patch5** and **patch6** and later versions.

I can't anymore use multiple values in prepared statement, like
`PreparedStatement stmt = Connection#prepareStatement("insert into table values(?,?), (?,?)");`
only

[2022-05-07 02:33] #913 closed

[2022-05-07 03:47] zhicwu commented on #920
Hi @illyaSlobozhanin, this sounds like a bug. However, why use multiple values expression instead of batch update? In general, it is recommended to use batch update as it performs better.

[2022-05-07 03:50] zhicwu commented on #919
Sorry @marlondu the driver does not support Aggregatefunction so you probably should use materialized view or projection etc instead.

As to batch insert, actually it's not that slow as it streams serialized data in RowBinary format.

[2022-05-07 03:52] zhicwu commented on #918
Hi @wzqiang1332, will UInt32 work for you? As far as I know there's discrepancy between Java and C++ implementation of RoaringBitmap64, but I'll check this one when I'm done with patch9 release.

[2022-05-07 09:32] zhicwu commented on #912
New client option `rename_response_column` was added. It defaults to `NONE` for backward compatibility, but you can change it to `REMOVE_PREFIX` in order to remove prefix from response column names.

[2022-05-07 09:32] #912 closed

[2022-05-07 09:42] zhicwu commented on #906
Not sure if this is related to specific IDE or not. Below dependency should have covered above two already. Perhaps you need to run `mvn -Drelease clean install` in `clickhouse-grpc-client` module first?
[code]

It's an issue with ClickHouse 22.4, but I added a workaround to fix IT failure.

[2022-05-07 10:14] wzqiang1332 commented on #918
@zhicwu UInt32 is ok

[2022-05-07 11:51] #906 closed

[2022-05-10 08:17] k3rnL commented on #861
I dig out the topic as I'm facing a linked problem. I'm doing the exact same kind of insert method as saw previously
[code]

My inputStream come from a file, and I noticed an unexpected behavior.
The reading from the inputStream is really fast (basically a copy to ram) and then everything is written to the http socket.
Why do we have this buffering ? Is not a good thing to mount all the post body

[2022-05-10 08:29] zhicwu commented on #861
This does not sound right. There's a small buffer(4096 or 8192 bytes) used in the library for streaming like below, but it won't load everything into memory and then write to server. Having said that, I'm adding support for different buffering mode(for both request and response). Let me create an issue with some test data to explain what it is.

https://github.com/ClickHouse/clickhouse-jdbc/blob/f

[2022-05-10 08:57] k3rnL commented on #861
I investigated on my side, it become obvious on the stack trace.
[code]

Just for scale, the buffer in question is already 6GB, for a file of ~4GB. It fails to allocate the new buffer's capacity

[2022-05-10 09:05] zhicwu commented on #861
I see. Looks like it's the default behavior of HttpURLConnection in JDK - `setFixedLengthStreamingMode` should be used for chunked requests. Can you switch to HttpClient by adding connection property `http_connection_provider=HTTP_CLIENT`?

[2022-05-10 09:08] liumaojing opened #924 "column type is Array(Nullable(Int64)) But Null becomes 0 in the result returned"
resultSet:
[3553669559,3571293165,3851086538,3090702645,3407263362]
[3874870412,3451171182,3922428704,3228944982,3590715072]
[NULL,3989698365,3521029982,NULL,NULL]
[NULL]
[3411652369,3144762202,3230150923,3581921969,3306736155]

getArray:
{0,3989698365,3521029982,0,0}

my code:
while (resultSet.next()) {
            Array array = resultSet.getArray(1);
            Object array1 = array.getArray();

[2022-05-10 09:24] k3rnL commented on #861
It seems fine, now I get a timeout from the server I guess.
I tried to get rid of it like htis :
[code]

But I still get
[code]

Also, the RAM still go up to the size of the file in the firsts 2/4sec of execution. As I'm on an SSD of 500MB/s, this makes a total sense. It seems that the file is still mounted on RAM, could it be the "ClickHousePipedStream" ?

[2022-05-10 09:29] k3rnL commented on #861
Oh ok I got it. The ClickHousePipedStream has a default value of 0 for the queueLength, As the reading of a file is much faster than writing on my poor VPNed network, it fill up the RAM. I think it's a dangerous default value !

[2022-05-10 09:31] liumaojing commented on #924
How do I get Array(Nullable(Int64)) results  ?Can you give me an example  ?

[2022-05-10 09:45] zhicwu commented on #861
The default connection timeout is 10 seconds, which should be long enough for LAN or even WAN. If the query takes time, it's better to increase socket timeout accordingly.

It's possible. ClickHousePipedStream is basically an in-memory queue redirecting byte buffers from producer to consumer. In the case of slow consuming(it happens all the time unfortunately), memory could be quickly filled up. I

[2022-05-10 09:46] zhicwu commented on #861
Correct! It's been change to 512 in the upcoming new release :)

[2022-05-10 09:49] zhicwu commented on #924
Not your fault. It's a bug in the driver, not only the version you're using but also the latest. As I recalled, in 0.2.3, there's a connection property called `use_object_wrapper`, changing it to true will stop using primitive type, which might fix the issue at your end. However, I think the better way is to fix the issue and upgrade driver to latest.

[2022-05-10 09:49] k3rnL commented on #861
Super ! Thanks for your help :)

[2022-05-10 09:52] zhicwu commented on #861
Also `LinkedBlockingDeque` has been corrected to `LinkedBlockingQueue` 😓  Let me try to release the patch tonight.

[2022-05-10 18:29] zhicwu opened #928 "Performance [WIP]"
This is an umbrella issue to track performance issues, collect ideas, and document improvements as well as latest update. It can also be used for other purposes like evaluating ClickHouse client, understanding how slow Java lib is and why.

### Issues

| # | Module | Issue | Workaround |
| - | -------- | ----- | ------------ |
| 1 | clickhouse-client | CPU was not fully utilized in query | Change

[2022-05-11 02:05] kiwimg opened #929 "How to use clickhouse-jdbc to query millions of data？And stream way for reading large result set?"
问题使用clickhouse-jdbc 查询千万数据量？ Stream方式读取SELECT超大结果集 ？
需要导出百万级别数据 从ck中导出，clickhouse-jdbc怎么支持？如果使用api 解决这个问题？

[2022-05-11 05:36] zhicwu commented on #929
By default, clickhouse-jdbc is synchronous and resource-efficient. It simply reads data one field at a time and then deserialize in the same thread. There's tiny buffer(8192 bytes) and objects like ClickHouseRecord and ClickHouseValue reused for less CPU and memory consumption. As long as you don't cache lots of data in your application, there's not much to worry about. Having said that, you may s

[2022-05-11 06:29] kiwimg commented on #929
有对应的例子吗

[2022-05-11 09:05] mafiore commented on #896
I run into the same error since version 0.3.2-patch6.

Up to version 0.3.2-patch5 everything works fine.

I poked around an bit and found out that the jdbc-driver has problems  with empty strings.
It seems that it handles empty strings like null values.

Before patch6 everything worked fine. This behavior still exists in patch9

[2022-05-11 09:11] mafiore opened #931 "Treating the Empty String as NULL since 0.3.2-patch6"
I can reproduce this misbehaviour since version 0.3.2-patch6.

Up to version 0.3.2-patch5 everything worked fine.

I poked around an bit and found out that the jdbc-driver has problems with empty strings.
It seems that it handles empty strings like null values.

Before patch6 everything worked fine. This behavior still exists in patch9

This  relates to #896
`Unexpected error inserting/updating ro

[2022-05-11 09:17] zhicwu commented on #931
Thanks @mafiore. It sounds like empty string result in a null flag. Let me add a few more test cases to see if I can reproduce the issue - would be great if you can share a minimal test case.

[2022-05-11 09:35] mafiore commented on #931
thanks for your quick reply @zhicwu. My test-case is build in Apache Hop, so this  is no raw code to share.
but I can explain how I reproduced the behaviour.

Up to  0.3.2-patch5 everthing worked fine. When we tried to change to a higher revision, the mess began.
First I thought it has something to do with the  timestamp-format.

I ended up with a  Simple Table like
[code]

I set the `NULL` values

[2022-05-11 09:36] zhicwu commented on #931
Below test case works for me. Did I miss something?

[code]

[2022-05-11 09:39] zhicwu commented on #931
This might not related but what's the version of ClickHouse you're using?

[2022-05-11 09:43] mafiore commented on #931
the march  v22.3

[2022-05-11 10:51] zhicwu commented on #931
Hmm... I can only reproduce the issue when trying to write null to a non-nullable string column. Also I didn't see suspicious change in [patch6](https://github.com/ClickHouse/clickhouse-jdbc/compare/v0.3.2-patch5...v0.3.2-patch6). Could that be some feature in Hop to treat empty string as null?

[2022-05-11 12:04] #924 closed

[2022-05-11 12:05] #909 closed

[2022-05-11 12:20] zhicwu commented on #929
I'll add more details into #928 and maybe examples in weekend, but for starters:

* Java Client
  - one-liner for loading and dumping data - see `ClickHouseClient.load(...)` and `ClickHouseClient.dump(...)`
  - streaming basics - see `ClickHouseInputStream.of(...)` and `ClickHouseOutputStream.of(...)`
  - piped output stream - `ClickHouseDataStreamFactory.getInstance().createPipedOutputStream(...)

[2022-05-11 13:27] antip00 opened #934 "Test fail with clickhouse 22.3.3.44"
I tried to run mvn tests with clickhouse version 22.3.3.44 but it fails

I install jdk 11, mvn, clickhouse 22.3.3.44,
configurating JAVA_HOME,
add port.xml, users.xml into etc/clickhouse,
restart server and do mvn test

v0.3.2-patch8:
[INFO] clickhouse-java .................................... SUCCESS [ 11.844 s]
[INFO] clickhouse-client .................................. SUCCESS [ 43.277 s]
[INFO

[2022-05-11 22:33] zhicwu commented on #934
Hi @antip00, could you post the errors as well? You may open surefire or failsafe test report to check details.

[2022-05-11 22:34] #889 closed

[2022-05-12 10:47] mafiore commented on #931
No there is absolutely nothing like that in Hop. What I do ist to filter out the nulls and set them  explicitely to an empty String to avoid Nulls. to be wriiten to a non nullable column.I tried it in every direction. leave the filed null, set the field to empty String, set it to a defaut String "-" .

The crazy is, that it works with the same setup since month, but the switch away from rev5 is br

[2022-05-12 11:55] zhicwu commented on #931
Thanks @mafiore and sorry for the inconvenience at your end. In general, we should avoid writing null to a non-nullable column. However, it's not always true - for example, when we want to use default value of a column, we may pass null even we know the column is not nullable. This is also the reason why #935 didn't pass build check :)

I think both cases can be addressed by adding a JDBC-specific

[2022-05-12 12:16] mafiore commented on #931
@zhicwu this is a very cool helpful feature. The clickhouse-developers  do a great job.  I curious how it will be when the jdbc driver supports native connections (hot http based)

[2022-05-12 12:50] zhicwu commented on #931
@mafiore, did you mean clickhouse-tcp-client? I don't think it will help much, except native data format support(for parallel deserialization & serialization). If the concern is performance, you may watch #928 as I'll provide more updates in the next following days. To put in short, the JDBC driver is very slow. Java client and streaming make things better, but still far behind ClickHouse native c

[2022-05-13 06:50] mafiore commented on #931
@zhicwu It may be that JDBC ist slow compared to the native CH Client. But for our needs it is fast like a flash :-)
JDBC is often the only way to interact with other systems.

[2022-05-13 07:05] kiwimg commented on #903
这个问题 我向您请教一下，为什么我查询的数据量不大，但是为啥 报错 TOO_MANY_ROWS_OR_BYTES ，配置文件我也调整大了 但是过了几天 有出现报错， 我有调整这个参数配置 越来越大 达到3G

[2022-05-13 07:15] kiwimg commented on #903
数据才3万多条

[2022-05-13 07:27] zhicwu commented on #931
Exactly. There'll be a `clickhouse-cli-client`, which is simply a wrapper of the native command line :D

[2022-05-13 07:38] zhicwu commented on #903
30k rows is not a lot, if there's no large columns. Have you tried above suggestions? If you don't have a clue, is the same issue can be reproduced on a newer version of ClickHouse? Also you may try https://kb.altinity.com/altinity-kb-queries-and-syntax/explain-query/.

[2022-05-13 07:41] kiwimg commented on #903
![image](https://user-images.githubusercontent.com/13777509/168235370-e9f19321-0ed3-4bb4-8d0b-3ff5b51cea8f.png)

[2022-05-13 07:59] kiwimg commented on #903
"SelectWithUnionQuery (children 2)"
  SelectQuery (children 3)
   ExpressionList (children 194)
    。。。。
    。。。。
   TablesInSelectQuery (children 1)
    TablesInSelectQueryElement (children 1)
     TableExpression (children 1)
      TableIdentifier dc_salesflow_all
   Function and (children 1)
    ExpressionList (children 3)
     Function equals (children 1)
      ExpressionList (children 2)

[2022-05-13 08:32] kiwimg commented on #903
同样得sql 结构 同样得sql字段，只是where 后面得条件不同，但数据量10万多，也没有报错。这个sql只有3万多，就报错了 太怪异了

[2022-05-14 05:53] zhicwu commented on #903
Sorry @kiwimg that I cannot help you for this one. Perhaps you can create a ticket in server repo with details so that you have better chance to get support?

[2022-05-16 10:54] illyaSlobozhanin commented on #920
Hi, @zhicwu thanks for you reply. Unfortunately, we use mybatis and using its API we can only generate sql queries with all insert values It doesn\`t support proper batch insert using `addBatch()`. But probably we'll rewrite code into plain jdbc.

[2022-05-16 11:00] zhicwu commented on #920
Sorry for the inconvenience. I'll fix the issue in next release.

[2022-05-16 13:21] kassak opened #938 "Block structure mismatch on ClickHouseDatabaseMetaData.getFunctions"
Hi!
Our tests have caught the problem in DatabaseMetaData
The driver is 0.3.2-patch9
[code]

Difference is 'case-sensistive table function'

[2022-05-16 14:08] zhicwu commented on #938
Thanks @kassak but I'm not sure what the issue is. Could you elaborate? Does the same issue exist on newer version of ClickHouse like 22.3? If you can share the test, I can add it for regression.

[2022-05-17 07:52] liumaojing commented on #924
import com.clickhouse.client.grpc.impl
 why doesn't  this jar  import ?

[2022-05-17 11:35] liumaojing commented on #924
I use getArray() function and it's still long[] ,I use   0.3.2-patch9 version

[2022-05-17 11:38] liumaojing commented on #924
How Can I get Array(Nullable(Int64)) results ?Can you give me an example ?

[2022-05-17 12:56] zhicwu commented on #924
Below case works for me:
[code]

[2022-05-18 02:20] liumaojing commented on #924
Follow your example above，the following is the error log:

OpenJDK 64-Bit Server VM warning: Sharing is only supported for boot loader classes because bootstrap classpath has been appended
2022-05-18 10:17:36:215 +0800 [main] WARN ClickHouseDriver - ******************************************************************************************
2022-05-18 10:17:36:220 +0800 [main] WARN ClickHouseDriver

[2022-05-18 02:21] liumaojing commented on #924
Follow your example above,the error log is as follows:
OpenJDK 64-Bit Server VM warning: Sharing is only supported for boot loader classes because bootstrap classpath has been appended
2022-05-18 10:17:36:215 +0800 [main] WARN ClickHouseDriver - ******************************************************************************************
2022-05-18 10:17:36:220 +0800 [main] WARN ClickHouseDriver - *

[2022-05-18 03:49] zhicwu commented on #924
Can you switch to the exact driver shown above? If you need to stay with the legacy driver(ru.yandex.*), you may try `use_objects_in_arrays` property to see if it will work or not.

[2022-05-18 04:46] liumaojing commented on #924
use_objects_in_arrays ==true doesn't take effect, change the driver was successful,but the null values are gone.The length of the array([null, 2L, null]) is 3, but the return value is 2,I don't think it makes sense,Will it improve in future releases?

[2022-05-19 09:43] liumaojing commented on #924
package com.clickhouse;

import com.clickhouse.jdbc.ClickHouseDataSource;
import java.sql.*;
import java.util.Properties;
class testconn {
    public static void main(String[] args) throws SQLException {
        ClickHouseDataSource cds;
        String url = "jdbc:clickhouse://hostname:8123";
        Properties cp = new Properties();
        cp.setProperty("user", "admin");
        cp.setProperty(

[2022-05-19 09:44] liumaojing commented on #924
package com.clickhouse;

import com.clickhouse.jdbc.ClickHouseDataSource;
import java.sql.*;
import java.util.Properties;
class testconn {
public static void main(String[] args) throws SQLException {
ClickHouseDataSource cds;
String url = "jdbc:clickhouse://hostname:8123";
Properties cp = new Properties();
cp.setProperty("user", "admin");
cp.setProperty("password", "Dly9DvXcAT");
cds = new ClickHo

[2022-05-19 23:28] zhicwu commented on #924
Just tried the program and it works for me. I changed the last two lines to below:

[code]

[2022-05-20 08:50] kassak commented on #938
The issue is the exception thrown on ClickHouseDatabaseMetaData.getFunctions call :)
Sorry the test is the part of our integration tests. I think just calling that method is enough to fail.
I've checked, that works on 22 server

[2022-05-20 08:55] liumaojing commented on #924
Sorry, I was checking array in DEBUG mode for non-null values，The actual output is normal，Thank you very much for your help.

[2022-05-20 09:06] zhicwu commented on #938
Thanks @kassak. I hope it's not related to the typo, which has been fixed on develop branch. Will try to reproduce the issue on 21.6.

[2022-05-23 02:00] liumaojing commented on #924
After changing the driver,  ClickhouseDatasource is not  compatible  with Balanceddatasource,For Example ,actualize() function,Any suggestions so far?

[2022-05-23 11:39] #910 closed

[2022-05-23 11:39] #929 closed

[2022-05-23 11:40] #908 closed

[2022-05-23 11:40] #903 closed

[2022-05-23 11:41] #861 closed

[2022-05-25 00:22] belonesox opened #944 "LibreOffice compatibility — Is anyone succeded with connecting LibreOffice Base and CH?"
Is anyone succeded with connecting LibreOffice (Base or Calc) with any Clickhouse Database?

I tried several versions of CH JDBC drivers (clickhouse-jdbc-0.3.2-http.jar, clickhouse-jdbc-0.3.2-patch9-all.jar … )

On stage «Test Class» looks OK

![image](https://user-images.githubusercontent.com/1609739/170152394-f6e8c908-5aff-4ef6-8604-712ef206454d.png)

On stage «TestConnection»  (test datasource

[2022-05-25 01:40] kiwimg opened #945 "How to parse Clickhouse select SQL."
How to parse Clickhouse select SQL.，能够得到最终select的 查询字段

ClickHouseSqlParser.jj

[2022-05-25 02:44] zhicwu commented on #944
Hi @belonesox, thanks for reporting the issue. Please remove `jdbc:` from datasource URL, because LO will add the prefix automatically for you. Also per my testing(pivot table against system.query_log table), LO has serious performance issue for loading just a few thousand rows.

[2022-05-25 02:55] zhicwu commented on #945
Hi @kiwimg, sorry it's not going to work because 1) it's not a full-featured parser as it skips parts the driver does not care about(e.g. expressions inside parenthesis); 2) it's outdated(e.g. not even support `EXCHANGE` statement); and 3) it's slow(see #615) for parsing large query. Moreover, the parser will be moved from `clickhouse-jdbc` to `clickhouse-jdbc-ext`(JDBC extensions with experimenta

[2022-05-25 05:16] #226 closed

[2022-05-25 05:26] zhicwu commented on #524
Not going to use the exact same DSN, because Java client and JDBC driver support multiple formats(TSV and RowBinary) and protocols(http, https, grpc, tcp and tcp secure) as of 0.3.2. It's more natural to use nested URLs as mentioned in #894.

[2022-05-25 05:26] #524 closed

[2022-05-25 05:40] zhicwu commented on #402
Both cases work in new driver(v0.3.2+).

[2022-05-25 05:40] #402 closed

[2022-05-25 05:44] kiwimg commented on #945
antlr is golang ，java 如何使用呢？

[2022-05-25 06:15] kiwimg commented on #945
Very useful, thank you very much. I know how to solve it

[2022-05-25 10:02] belonesox commented on #944
Thank you!

Have you tried «clickhouse-odbc», is it better? (I failed to make it work for now).
Another workaround for pivoting tables from CH on Linux?

[2022-05-25 10:37] belonesox commented on #944
LO Base look works OK, but LO Calc looks dont see tables
![image](https://user-images.githubusercontent.com/1609739/170243394-235b5ce6-394a-4703-9655-1c551e4ea682.png)

What am I doing wrong?

[2022-05-25 23:48] #945 closed

[2022-05-26 00:56] zhicwu commented on #894
Any update @dynaxis? Just trying to avoid duplicated efforts here. I'm thinking to add an alternative of `BalancedClickhouseDataSource` in the coming weekend. Of course, it's not going to be a complete implementation of all above, but just bare-bone with single load-balancing policy and no auto-discovery and fail-over.

A few things to start with:
- [ ] 1. the ability to probe secure and insecure

[2022-05-26 00:58] zhicwu commented on #924
There's no balanced datasource in the new driver as of now but it should not be very hard to add one. Will try to squeeze this feature into patch10.

[2022-05-27 14:15] wolfxyx commented on #918
was this bug solved?

[2022-05-29 04:49] zhicwu commented on #918
You meant RoaringBitmap/RoaringBitmap#366? Perhaps you should consider multiple UInt32 bitmaps with or without flag instead. It would be great someone can help you address the issue. I'll revisit this when I'm done with new type system for Aggregatefunction - maybe a custom version of RoaringBitmap just for ClickHouse.

[2022-05-29 07:43] jetliu1711 opened #946 "Cannot parse object when I use fastjson to write a table"
Hello,I have question with use fastjson to write a table ,table data type is Object('json'),but it make error like this:
ru.yandex.clickhouse.except.ClickHouseException: ClickHouse exception, code: 117, host: 127.0.0.1, port: 8123; Code: 117. DB::Exception: Cannot parse object: (at row 1)
:
Row 1:
Column 0,   name: groupID,    type: String,         parsed text: "00001"
Column 1,   name: shopID,

[2022-05-29 19:53] Veirisa opened #947 "Incorrect update count (0.3.2-patch9)"
Hi!

In `com.clickhouse.jdbc.internal.ClickHouseStatementImpl#updateResult`:

[code]

Yes, this isn’t always true :)

**Examples:**

[code]

1. `String sql = “CREATE TABLE new_table(x INT) engine = Memory;”`
Expected `updateCount`: 0
Actual `updateCount`: 1

2. `String sql = "INSERT INTO new_table VALUES (1), (2), (3);"`
Expected `updateCount`: 3
Actual `updateCount`: 1

[2022-05-29 23:39] zhicwu commented on #946
Hi @jetliu1711, thanks for reporting the issue. Legacy driver(ru.yandex.clickhouse.ClickHouseDriver) does not support `Object('JSON')`, so I'd suggest you to switch to new driver(com.clickhouse.jdbc.ClickHouseDriver).

If you prefer to stay on JDBC driver instead of Java client, you probably should use structured data instead of JSON string for better performance - try issue a query like `select (

[2022-05-29 23:45] zhicwu commented on #947
You got me :p

Have you tried `send_progress_in_http_headers` option like used [here](https://github.com/ClickHouse/clickhouse-jdbc/blob/c98c084e35ee68249274fcd273644545d90e82a3/clickhouse-client/src/test/java/com/clickhouse/client/ClientIntegrationTest.java#L1022)? With that, I think case 2 will be fixed but case 1 stays the same. Let me think how to tackle this without much parsing efforts.

[2022-06-01 06:00] asasas234 commented on #803
@zhicwu
I also encountered the same problem, if there is no cursor, what can clickhouse do to achieve efficient paging?

[2022-06-02 15:42] kiwimg commented on #904
0.3.1 use the driver: ru.yandex.clickhouse.ClickHouseDriver, Alibaba's Druid  source use ru.yandex.clickhouse.BalancedClickhouseDataSource

[2022-06-02 15:49] kiwimg commented on #834
现在 0.3.1 使用的 BalancedClickhouseDataSource。如果升级到 0.3.2版本， 怎么使用呢，对应的 BalancedClickhouseDataSource应该替换成什么？

[2022-06-05 23:25] zhicwu commented on #803
Sorry for the late response @asasas234. If you're talking about JDBC driver, due to its limited API, you have to repeat the same trick for mysql to use one SQL to count rows and the other for pagination using `limit` and `offset`. If you don't mind to use Java client, you can pass `send_progress_in_http_headers=1` and get row count(`total_rows_to_read`) and selected rows in one query([example](htt

[2022-06-05 23:41] zhicwu commented on #904
Sorry there's no `BalancedClickhouseDataSource` in the new JDBC driver. Starting from 0.3.2-patch10, you'll be able to specify multiple hosts in connection string, for examples:
* `jdbc:ch://(http://localhost),(tcp://localhost),(grpc://localhost)/test?connect_timeout=500&!auto_discovery&load_balancing_policy=FIRST_ALIVE&health_check_interval=15000`
* or `jdbc:ch:http://host1,(host3?auto_discovery&

[2022-06-05 23:51] zhicwu commented on #834
Sorry I'll write a guide for upgrading legacy JDBC driver to new one.

As I mentioned [here](https://github.com/ClickHouse/clickhouse-jdbc/issues/904#issuecomment-1146907991), we'll only need to specify multiple hosts in connection string.

Correct. You may refer to the class diagram at [here](https://github.com/ClickHouse/clickhouse-jdbc/issues/570#issue-809823439). By the way, `clickhouse-cli-cl

[2022-06-09 02:17] zcw5116 opened #949 "Question about BalancedClickhouseDataSource"
Old Driver [ru.yandex.clickhouse] has class BalancedClickhouseDataSource， which can be used for assigning multiple hosts，
New Driver [com.clickhouse.jdbc.ClickHouseDriver]， if plan to support BalancedClickhouseDataSource?

[2022-06-09 04:13] zhicwu commented on #949
Hi @zcw5116, sorry the feature is still under testing. It will be part of 0.3.2-patch10 which hopefully can be released by this weekend.

Basically, there's no `BalancedClickhouseDataSource`. You just need to specify multiple endpoints in connection string. For examples:
1. load balancing among 3 endpoints
  `jdbc:ch://(http://localhost),(grpc://localhost),(tcp://localhost)/mydb?load_balancing_pol

[2022-06-09 10:43] chenrun0210 opened #950 "How to enable transactions in large insert via spark"
Problem:
Batch insert into clickhouse using spark api  Dataset.write.jdbc(). But when the spark job fail （including some task fail,  and job fail, and executor lost） , data in clickhouse is not correct, usually more than origin data because of SPARK RETRY MECHANISM.
Code be like ：
        Dataset<VideoMartDwdUserBehaviorDi> df = toclickhouse.spark.sql(" my query sql ").as(encoder);
        df.writ

[2022-06-10 00:53] zhicwu commented on #950
Hi @chenrun0210, sorry I'm not familiar with the feature. Is that just about adding new settings for each insert? Can you share more details?

The JDBC driver has fake transaction built-in for JDBC compliance and I should be able to enhance for atomic insertion as well.

[2022-06-10 07:39] chenrun0210 commented on #950
i am sorry i wrote the wrong link, the right link is:
https://github.com/ClickHouse/ClickHouse/issues/22086
related pr :
https://github.com/ClickHouse/ClickHouse/pull/24258

The JDBC driver has fake transaction built-in for JDBC compliance and I should be able to enhance for atomic insertion as well.

--  has fake transaction built-in for JDBC compliance : does it mean the config about  transactio

[2022-06-10 08:05] zhicwu commented on #950
I see. Yes, as of now, it's not supported. However, since JDBC driver supports executing multiple statements in one go, a workaround would be executing TCL manually, together with insertion. For example:

[code]

Another workaround would be using clickhouse-local to generate parts, copy them to ClickHouse server, and attach as needed.

[2022-06-12 07:10] hengaini2055 opened #951 "How to connect to clickhouse in PDI 8.3"
PDI: 8.3

steps:
1. download ```clickhouse-jdbc-0.3.2-patch9-http.jar```, and save to pdi lib directory: E:\temp\data-integration-83\lib
2.  Create a new connection:
![image](https://user-images.githubusercontent.com/20587475/173221630-ed940ef2-2d8e-484b-97eb-c5e8dcaf9849.png)
3. clickhouse server is ok in 192.168.3.81, and can visit in 127.0.0.1:8123/play.
4. when I test this new connection in PD

[2022-06-12 07:39] hengaini2055 commented on #951
There is clickhouse config. Not jdbc and pdi. I close this issue.

[2022-06-12 07:39] #951 closed

[2022-06-13 02:29] arickbro commented on #894
I think this could be a reference to start with
https://mariadb.com/kb/en/failover-and-high-availability-with-mariadb-connector-j/
https://dev.mysql.com/doc/connector-j/5.1/en/connector-j-config-failover.html

[2022-06-13 03:20] zhicwu commented on #894
Thanks @arickbro. Too late that I've been implemented the better-than-nothing version :p

I was expecting a better result, but too bad not much progress being made in the past week so I'm going to release the new patch anyway and hopefully gain more feedback for future enhancement.

![image](https://user-images.githubusercontent.com/4270380/173272204-23d09f85-ca1c-4f38-8067-5077f956a348.png)

[2022-06-15 01:44] tisonkun opened #953 "How to connect to play.clickhouse.com?"
I'd like to write my own query as described in https://ghe.clickhouse.tech/#let-s-play-with-the-data.

ClickHouse JDBC driver version: `implementation 'com.clickhouse:clickhouse-jdbc:0.3.2-patch9'`

Related code:

[code]

Get error:

[code]

I guess it should be something wrong with the url but I cannot get an idea :(

[2022-06-15 01:57] zhicwu commented on #953
Hi @tisonkun, you can change the URL to `jdbc:ch://play.clickhouse.com:443?ssl=true`.

[2022-06-15 03:29] tisonkun commented on #953
@zhicwu Thank you! It works.

[2022-06-15 03:29] #953 closed

[2022-06-16 09:59] wzqiang1332 commented on #918
Hi @zhicwu I found that the old driver can deserialize 64-bit bitmaps
[code]

[2022-06-17 02:45] panda0120 commented on #918
This bug will be fixed in version patch10?
About when will it be released？
Now,when I use old jar with group id "ru.yandex.clickhouse",the query opertion is fine,but the insert operation will cause “Memory limit exceed” error on the ck server if the 64 bitmap capacity is more than 1 million.

[2022-06-17 12:54] KrisAnTis-Group opened #954 "Error Date-DateTime column in ClickHouse-Metriql"
@buremba
There is a problem with using Date-DateTime fields that have null values.

We use Metriql to bundle dbt, ClickHouse, Metriql, Google Data Studio technologies.
after some update, errors began to appear in the GDS of the form:

![image](https://user-images.githubusercontent.com/40943215/174298936-030dc565-8a78-4232-9530-70a5fb9b0dcc.png)

Errors occur when the column is of type Date or Date

[2022-06-17 12:58] #954 closed

[2022-06-17 15:53] Dustangelms opened #955 "useServerTimeZone == true doesn't work"
https://github.com/ClickHouse/clickhouse-jdbc/blob/c98c084e35ee68249274fcd273644545d90e82a3/clickhouse-jdbc/src/main/java/com/clickhouse/jdbc/internal/ClickHouseConnectionImpl.java#L279-L282

The `GregorianCalendar` object is created using local default time zone, not server time zone.

[2022-06-19 04:15] #946 closed

[2022-06-19 04:20] zhicwu commented on #955
Thanks @Dustangelms for pointing this out. It does not look correct but Calendar was used in a way to get consistent result from mysql interface. If you need to deal with timezone, it is recommended to use LocalDate/LocalDateTime/OffsetDateTime instead of legacy Date/Calendar API, also please be aware that the latter is 10 times slower.

[2022-06-20 12:36] qmdt commented on #784
hi，@zhicwu

I want to learn about the EOL of the clickhouse-jdbc release version. The specific questions are as follows:

1. The clickhouse-jdbc 0.3.1 and 0.3.1-path versions are being used in our products. Will the new bugs be backported to 0.3.1 branch? Will the patch continue to be released for 0.3.1? What is the maintenance termination time for 0.3.1?

2. According to the roadmap, 0.4.X and 0.

[2022-06-20 13:55] zhicwu commented on #784
Hi @qmdt, sorry this wasn't clear.

0.3.1* has been deprecated and no longer receive updates.
0.3.2 is a complete rewrite so new bugs cannot be backported to 0.3.1 or older version.
0.3.x reaches EOL once 0.4 released and so on so forth.
Critical security issues may be backported to previous releases(0.3.2+) when needed.

Couple of things worthy of mention:
1. 0.3.2 released with both legacy and n

[2022-06-20 22:57] #920 closed

[2022-06-20 23:02] zhicwu commented on #931
`nullAsDefault` connection property(defaults to `0`) was added in #956, but it's only for JDBC driver(not supported in Java client for performance reason).

Example: `jdbc:ch://localhost/db?nullAsDefault=1`

`0` - treat null as is and throw exception when trying to insert null value into non-nullable column
`1` - treat null as is and disable null-check for insertion
`2` - convert null to default v

[2022-06-20 23:03] #938 closed

[2022-06-21 09:00] ghaase67 opened #958 "Apostrophe in bind variables generate errors when driver is used with chproxy"
The JDBC driver seems to replace ' by \' in the PreparedStatement binding (ClickHousePreparedStatementImpl).
This leads to ClickHouse exception code: 1002 when chproxy is used.
Any suggestion for a workaround for this?
One solution would likely be that the driver replaces ' by '' instead of \'

[2022-06-21 11:36] ghaase67 commented on #958
Yes the driver is old but the clickhouse db is too old for the 0.3.2  driver (Server < 20.7) and the problem occurs with 0.3.1-patch.
The problem also happens when using Dbeaver with the clickhoudse JDBC driver and executing the following SQL:
select '\''
According to the documentation this should work but it doesn't and it "simulates" what the driver is doing internally.
https://clickhouse.com/do

[2022-06-21 11:54] zhicwu commented on #958
The query you provided has syntax issue. Did you mean `select ''''`? I tried both legacy and new drivers against ClickHouse 22.3, both of them work well.

[2022-06-22 10:15] xzh790063842 opened #959 "spark clickhouse jdbc"
I have the same error, but my issue got solved after adding the following parameters to pyspark comman : --jars jars/clickhouse-jdbc-0.2.4.jar,jars/guava-19.0.jar

_Originally posted by @gxlzlihao in https://github.com/ClickHouse/clickhouse-jdbc/issues/138#issuecomment-664912315_

[2022-06-22 10:16] #959 closed

[2022-06-22 15:30] ossinkine opened #960 "Limit line length in clickhouse-format command"
`clickhouse-format` is awesome tool which help us keep our SQLs in a single style.

But some of our queries after formatting contain lines with length up to 1 thousand symbols. For example, `INSERT` clause can contains a lot of fields and after formatting they are places in a single line. Or `WHERE` clause with all statements is also placed in a single line.

Is it possible to add an option to `cl

[2022-06-22 15:32] ossinkine commented on #960
Wrong repository, my bad. Moved to https://github.com/ClickHouse/ClickHouse/issues/38317.

[2022-06-22 15:32] #960 closed

[2022-06-22 18:42] ghaase67 commented on #958
Sorry my mistake.
The test case is "select '\''" where ' is escaped by \'. "select ''''" with double quotes also works in our environment.
If you can't reproduce the problem you could close the issue as we are going to rewrite the code to dynamic SQL instead of using Prepared Statements and replace ' by '' in SQL.
Thanks for your help so far.

[2022-06-22 18:43] ghaase67 commented on #958
ah the editor is removing the backslah.
The test case is "select ''\\'" where ' is escaped by \\'.

[2022-06-22 22:47] zhicwu commented on #958
Thanks @ghaase67. I tried `select '\''` using both drivers and they work just fine. What's the exact error you got from DBeaver? And version of ClickHouse server?

[2022-06-23 09:40] cigarl opened #961 "Failed to batch insert"
When I follow the [sample code](https://github.com/ClickHouse/clickhouse-jdbc/tree/master/clickhouse-jdbc#examples), I sometimes fail to write.

I tried to learn from others, and clickHouse seemed to write more data at a time and less frequently.  Therefore, I tried to increase the batch size again, but in this process, it seems that there will be exceptions when the batch data amount is large.

A

[2022-06-23 13:27] zhicwu commented on #961
Hi @cigarl, is there a reliable way to reproduce the issue? Would be great if you can provide table structure and obfuscated data.

I can think of two approaches to verify if it's really a network issue:
1) start a ClickHouse container in local and run your code against localhost:8123 to see how it goes
2) stop using `input` function, replace `insert into mytable select col1, col2 from input('col1

[2022-06-24 02:30] airlenet opened #964 "PreparedStatement insert batch sql NullPointerException"
example code

[code]
    public static void main(String[] args) throws SQLException {
        String url = "jdbc:clickhouse://172.19.129.202:8123";
        String username = "default";
        String password = "123456";
        Properties properties = new Properties();
        properties.setProperty(ClickHouseDefaults.USER.getKey(), username);
        properties.setProperty(ClickHouseDefaults.PAS

[2022-06-24 02:35] cigarl commented on #961
Thank you for your answer.When I batch size was large, this problem occurred every few minutes. I'll try it again, as you suggest.

In addition, I have two questions:

1.  `expected '\r\n' at end of stream`  Can the problem be caused by the network? Shouldn't the data already be assembled when I call `executeBatch()`? If the server receives a failure due to a network problem, doesn't the whole bat

[2022-06-24 02:48] zhicwu commented on #964
Hi @airlenet, sorry for the inconvenience. It looks like the same issue as reported in #920. I need to merge one or two PRs before releasing patch10 to maven central, but can you try again using https://github.com/ClickHouse/clickhouse-jdbc/releases/tag/v0.3.2-patch10?

The way you use prepared statement is actually creating a insert query without telling the driver column types. It can be optimiz

[2022-06-24 03:02] zhicwu commented on #961
Since both sides ended up with connection reset by peer error, it does look like network issue. Yes, data will be serialized each time you call `addBatch` method and they'll be ready for insertion before calling `executeBatch`. Are you talking about transaction support for batched insert as mentioned in #950? It's not supported by the driver as of now. I'm not sure about the parse error, but it lo

[2022-06-24 05:44] cigarl commented on #961
Hi @zhicwu ,according to your reminding, I tried to make some adjustments, and now it is normal.  It is likely to be caused by the network, and as for parsing parse, I will take a closer look if possible.

Thank you very much for your advice and explanation. I will close this issue.Thanks again.

[2022-06-24 05:44] #961 closed

[2022-06-24 06:23] airlenet commented on #964
I use springboot+mybatis+clickhouse to insert in batches and cannot use it（ `INSERT INTO device_user (device_type,device_sn, timestamp, user_count) `(without the value expression) and use batch insert instead ）

[2022-06-24 06:53] zhicwu commented on #964
I see. You can use `INSERT INTO device_user (device_type,device_sn, timestamp, user_count) values(?,?,?,?)` instead.

[2022-06-24 07:04] NileshSuthar opened #965 "Clickhouse subquery not allowed with CASE/IF statement"
I am trying to filter data with the help of a condition in click house. This is the query:

    SELECT CASE

    WHEN EXISTS (

    SELECT * FROM (SELECT Time, Lon, Users FROM table1 ORDER BY Time DESC LIMIT 5) WHERE Users>=75

    )

    THEN ( * FROM (SELECT Time, Lon, Users FROM table1 ORDER BY Time DESC LIMIT 5) WHERE Users<75)

    ELSE ( * WHERE 0=1)

    END;

I had also tried simple IF con

[2022-06-24 07:16] zhicwu commented on #965
Hi @NileshSuthar, will CTE work for you? For example:

[code]

[2022-06-24 09:41] NileshSuthar commented on #965
Hi @zhicwu
I tried this query but it also didn't work

with (select count() from table1 where Users>=75 ) as a
select if (a> 0, select count() from table1 where Users<75, 'b')

[2022-06-24 10:07] usmanq8 opened #966 "JAVA documentation for Clichouse-http-client"
I wonder if you have complete documentation over clickhouse-http-client (Java) ?
As current doc are only over clickhouse DB and we need to go thru code on GIT.

[2022-06-24 11:31] zhicwu commented on #966
Hi @usmanq8, `clickhouse-http-client` is an implementation of `clickhouse-client`, so you probably just need to check javadoc of the latter and [ClientIntegartionTest](https://github.com/ClickHouse/clickhouse-jdbc/blob/develop/clickhouse-client/src/test/java/com/clickhouse/client/ClientIntegrationTest.java) for usage.

If you're unclear about relationship among those modules, you may refer to belo

[2022-06-24 11:43] zhicwu commented on #965
You may try below:

[code]

This has nothing to do with Java client or JDBC driver, so I'd suggest you asking the question in Slack/Telegram/ClickHouse repo to get better idea.

[2022-06-24 14:47] usmanq8 opened #967 "How Async_inserts option works using clickhouse-http-client (JAVA)"
I was going thru following link and came across `ASYNC_INSERTS `for http client.
Is this also true while using clickhouse-http-client. if yes, how we can enable it. Also i tried using server property to be enabled in DB's config file but it does not seems to work as intended. Am i missing some thing

[https://clickhouse.com/blog/click-house-v2111-released](https://clickhouse.com/blog/click-house-v

[2022-06-24 15:18] zhicwu commented on #967
Please refer to integration test at [here](https://github.com/ClickHouse/clickhouse-jdbc/blob/c98c084e35ee68249274fcd273644545d90e82a3/clickhouse-jdbc/src/test/java/com/clickhouse/jdbc/ClickHouseStatementTest.java#L173). If you use v0.3.2-patch10, you may also want to enable load balancing - see details at [here](https://github.com/ClickHouse/clickhouse-jdbc/pull/956#issue-1275801624).

[2022-06-24 22:27] #965 closed

[2022-06-25 19:36] mzitnik commented on #845
ru.yandex.clickhouse clickhouse-jdbc 0.2.4 is legacy driver code please start using the new one if reproduced notify

[2022-06-26 14:52] #967 closed

[2022-06-26 14:52] #966 closed

[2022-06-26 14:53] #964 closed

[2022-06-26 14:53] #949 closed

[2022-06-26 14:59] #904 closed

[2022-06-26 15:13] zhicwu commented on #896
`nullAsDefault` option was added in 0.3.2-patch10 - see comments at [here](https://github.com/ClickHouse/clickhouse-jdbc/issues/931#issuecomment-1160931464).

[2022-06-26 15:13] #896 closed

[2022-06-27 08:54] kiwimg opened #971 "clickhouse-jdbc 执行sql 不支持 中文注释吗"
clickhouse-jdbc  v0.3.1 不支持代中文注释sql 吗？

-- 注释描述
select * from users

; nested exception is ru.yandex.clickhouse.except.ClickHouseUnknownException: ClickHouse exception, code: 1002, host: XXX.XX.XX.XXX, port: 8123; Code: 62. DB::Exception: Syntax error: failed at position 2190

[2022-06-27 12:43] mafiore commented on #931
hello @zhicwu
I am sorry to say, that there is no difference. in the behaviour. The Empty String ist not accepted.
I am using the patch 10

Error inserting/updating row
2022/06/27 14:40:57 - store barvalue event 2.0 - Cannot set null to non-nullable column #6 [event_unit LowCardinality(String)]

![image](https://user-images.githubusercontent.com/13662078/175939238-319233e5-3a32-4fa4-8a0b-140d6ca62

[2022-06-27 13:21] zhicwu commented on #931
Sorry to hear about that @mafiore. Let's reopen the issue.

Can you provide minimum pipeline for reproducing the issue? I'll then install Apache hop and debug from there.

[2022-06-27 23:00] zhicwu commented on #931
@mafiore, I tried on hop 2.0.0 and was  not able to reproduce the issue. `nullAsDefault` works exactly as expected. Also the exception above will only be thrown when nullAsDefault < 1:

https://github.com/ClickHouse/clickhouse-jdbc/blob/ea5aaf579b0612bcf1825eb1ec31bf9b170a7a65/clickhouse-jdbc/src/main/java/com/clickhouse/jdbc/internal/InputBasedPreparedStatement.java#L320-L323

On a side note, it

[2022-06-28 01:28] kiwimg commented on #971
中文需要使用 unicode comments？

[2022-06-28 04:26] zhicwu commented on #971
By default the SQL query including comments is utf-8 encoded. Can you provide the exact query and comments leading to a parsing error in JDBC driver?

[2022-06-28 05:49] kiwimg commented on #971
抱歉，我上面反馈的信息不对。
我使用的 clickhouse-client  Command-line 模式 执行的sql

[2022-06-28 05:59] kiwimg commented on #971
org.springframework.jdbc.UncategorizedSQLException:
### Error querying database.  Cause: ru.yandex.clickhouse.except.ClickHouseUnknownException: ClickHouse exception, code: 1002, host: xxx.xx.xx.x, port: 8123; Code: 62. DB::Exception: Syntax error: failed at position 2190 ('('): (          -- 筛选条件 将与每一条维度数据取交集          with           base as (              select  dlob.ids ids              from dc

[2022-06-29 03:35] ArvinLovegood opened #972 "ParameterMetaData return NULL"
// 0.3.2-patch10
@Override
    public ParameterMetaData getParameterMetaData() throws SQLException {
        // TODO Auto-generated method stub
        return null;
    }

// old version  in package:   ru.yandex.clickhouse
    @Override
    public ParameterMetaData getParameterMetaData() throws SQLException {
        throw new SQLFeatureNotSupportedException();
    }

why not stay the same ?
It is

[2022-06-29 03:40] zhicwu commented on #972
I should implement this method instead.

[2022-06-29 15:17] kassak opened #973 "Maven dependencies a gone"
After changing maven dependency from `0.3.2-patch9` to `0.3.2-patch10`, I've got `ClassNotFoundException` for `com.clickhouse.client.config.ClickHouseOption`

Looking into https://mvnrepository.com/artifact/com.clickhouse/clickhouse-jdbc/0.3.2-patch10 and https://mvnrepository.com/artifact/com.clickhouse/clickhouse-jdbc/0.3.2-patch9

I see that there are no more dependencies in corresponding secti

[2022-06-29 22:09] zhicwu commented on #973
Thanks for the report. Could you add `all` or `http` classifier in your pom file? For example:

[code]

[2022-06-30 13:38] kassak commented on #973
That helped, thanks

[2022-06-30 14:15] sneakythr0ws opened #974 "Large INSERT INTO SELECT read timeout"
Hi!
How to run large (`6B rows`) `INSERT INTO SELECT` query via clickhouse-jdbc?
It runs well but never ends and throws `read timeout` error.  Clickhouse process finishes correctly with finish result in query_log. But after that, the clickhouse-jdbc waits for the timeout to end. And throws `read timeout`

But if I put `LIMIT 100` executeUpdate `ends correctly`

I tried `0.3.2-patch9` and `0.3.1-pa

[2022-07-01 00:25] zhicwu opened #975 "Transaction support"
**Server**
- Transaction ID: `Tuple(snapshot_version UInt64, local_txid_counter UInt64, host_id UUID)`
- functions: `transactionID()`, `transactionLatestSnapshot()`, `transactionOldestSnapshot()`
- settings: `throw_on_unsupported_query_inside_transaction`, `wait_changes_become_visible_after_commit_mode`, `implicit_transaction`
- statements: `begin transaction`, `commit`, `rollback`, `set transacti

[2022-07-01 08:31] zhicwu commented on #974
Hi @sneakythr0ws, can you reproduce the issue using new driver? I tried below on DBeaver using new driver and it worked fine.

[code]

[2022-07-01 09:06] sneakythr0ws commented on #974
what do you mean `new driver`? java client or patch10?

in my case every row contains ~10 strings

[2022-07-01 09:19] zhicwu commented on #974
I meant `com.clickhouse.jdbc.ClickHouseDriver`.

How long it took for the query? I'll add some tests to see if I can reproduce the issue.

[2022-07-01 09:44] sneakythr0ws commented on #974
~1.5 hour

[2022-07-01 11:43] 1pyxa1 opened #976 "Pyspark java.io.IOException: Reached end of input stream"
Hi! When using pyspark to read and save query with limit 1 million rows everything working fine. However when I try to set the limit up to 10 million rows, for example, got this error on the same query:
`Caused by: java.io.IOException: Reached end of input stream after reading 17 of 40 bytes`

my code:
[code]

SQL query on one table without any joins and group or order statements.

clickhouse-jdbc

[2022-07-01 12:17] zhicwu commented on #976
Hi @1pyxa1, I'm not sure what exactly happened but it looks like server closed the stream somehow. Is there any error on server? You may check either log file or `system.query_log` table.

[2022-07-01 12:22] 000xiaoxiao000 commented on #845
is legacy driver code, what's the meaning?

[2022-07-01 17:02] hackergin opened #977 "Question about emptyBatchError"
Currently, I use Flink JDBC + CK Driver to write data to clickhouse in real time, and there is a high probability of encountering the following errors , So maybe we can support writing empty batch ?
[code]

[2022-07-01 22:54] zhicwu commented on #977
Hi @hackergin, thanks for the suggestion. Many drivers support empty batch and it's not forbidden in JDBC spec. Let's take it as bug and I will fix in next release.

[2022-07-01 23:01] zhicwu commented on #974
That's a bit too long but let me give it a shot. @sneakythr0ws, are you using a proxy between the client and server by any chance?

[2022-07-01 23:08] zhicwu commented on #973
Thanks for confirming. It was a change by accident, but I'll take the chance to make `http` as the default jar in next release, so that you can later revert the workaround.

[code]

[2022-07-03 21:01] piotrp opened #978 "Custom properties are lost when using getConnection(username,password)"
Passing of custom properties is broken when using JDBC Driver's `DataSource#getConnection(username,password)` method (it works when using `DataSource#getConnection()`).

Verified with test suite pasted below, second test fails - I get `ClickHouse Java Client` instead of `Agent #1`. Verified on:
* 0.3.2-patch10 - test fails
* 0.3.2-patch9 - test fails
* 0.3.2-patch5 - test fails
* 0.3.2 - test fail

[2022-07-03 22:31] zhicwu commented on #978
Thanks for reporting, and providing code to reproduce the issue.

We should change below line to `Properties props = new Properties(); props.putAll(connInfo.getProperties());`, because we're not setting default properties.

https://github.com/ClickHouse/clickhouse-jdbc/blob/ea5aaf579b0612bcf1825eb1ec31bf9b170a7a65/clickhouse-jdbc/src/main/java/com/clickhouse/jdbc/ClickHouseDataSource.java#L54

[2022-07-04 07:42] ywill3 commented on #874
Hello，这个问题你有找到其他的解决办法吗？

[2022-07-04 07:47] ywill3 commented on #874
Hello，Do you find another solutions? I used insert into xxx(a,b,c) values(?,?,bitmapBuild(?)) for prepareStatement. But it doesn't work ,The bitmap column is Null.

[2022-07-04 09:25] FDoKE opened #979 "ResultSet getObject with class return null values filled as it was not null"
When selecting values from table with getObject(index, Class)
simple types (like float/int/boolean) return 0/false as result (when null is expected).
[code]
`Expected: [1, null, null, null, null, null, null, null, null]`
`Actual: [1, 0.0, 0.0, null, false, 0, 0, null, 0]`

getObject(int columnIndex) returns null as expected.

Is that expected behaivor? (it breaks Vertx jdbc client as it always use

[2022-07-04 09:42] zhicwu commented on #979
Hi @FDoKE, it's not expected. Which version of the driver you're using? Are you using `com.clickhouse.jdbc.Driver`?

[2022-07-04 10:09] FDoKE commented on #979
@zhicwu on 0.3.2-patch10, yes, from com.clickhouse.jdbc
I traced down problem to `ClickHouseFloatValue`
`asFloat return value`, which is initilized with 0.0, but actual value is null.

called from :
[code]

[2022-07-04 10:42] zhicwu commented on #979
Thanks for the details information @FDoKE. Is that possible that you set `nullAsDefault` to `2`? Or, it's related to the distributed tables?

Just tried below case in DBeaver using patch10 driver and it works fine.

[code]

[2022-07-04 10:44] zhicwu commented on #245
Yes they should be the same. Added [this test case](https://github.com/ClickHouse/clickhouse-jdbc/blob/e59bd468c1e1b049d84a0a8183758740735e8e9a/clickhouse-jdbc/src/test/java/com/clickhouse/jdbc/ClickHouseDataSourceTest.java#L16) for regression.

[2022-07-04 10:59] FDoKE commented on #979
@zhicwu dbeaver probably using getObject(index) to retrieve column values
simple reproducer:
[code]

[2022-07-04 12:38] zhicwu commented on #979
Not sure if it's a good idea to use [getObject(int, Class)](https://github.com/vert-x3/vertx-jdbc-client/blob/25ca1f85f61631f0253e9275819a193447eac086/src/main/java/io/vertx/ext/jdbc/spi/impl/JDBCDecoderImpl.java#L58-L61), because it's always the slowest mainly for two reasons: 1) autoboxing; and 2) type conversion.

[2022-07-04 12:44] FDoKE commented on #979
Yeah, that seems strange to me too, why would they do that if it perfectly worked with getObject(int), I made an issue for them too to get their idea behind this change.

[2022-07-04 13:54] hackergin commented on #977
Thanks for the quick fix

[2022-07-05 02:47] ywill3 commented on #874
@standup-jb @zhicwu

[2022-07-05 05:09] zhicwu commented on #874
Hi @ywill3, I didn't spend time for this one so no progress from my side.

ClickHouse does not support prepared statement. Your query will be converted to a large SQL statement which will be sent to server in string format. In order to leverage binary streaming, you should use input function or external table as mentioned in [batch insert example](https://github.com/ClickHouse/clickhouse-jdbc/tree

[2022-07-05 05:41] zhicwu commented on #323
`select [['abc', '123'], ['efg', '456']] as test_array` works in DBeaver now, but there's still display issue for `select [[['a', '1'], ['b', '2']], [['c', '3'], ['d', '4']]] as test_array`.

Anyway, the driver has been rewritten since 0.3.2. Cases like `Array(Array(Array(Array(Array(Map(LowCardinality(String), Tuple(Array(UInt8),LowCardinality(String))))))))` are all supported although it's a bit

[2022-07-05 05:41] #323 closed

[2022-07-05 05:54] ywill3 commented on #874
OK，Thanks

[2022-07-05 11:19] zhicwu commented on #719
Starting from `0.3.2-patch10`, the driver has been slightly enhanced to respect server-side `readonly` setting. I was able to use DBeaver/SQuirreLSQL to connect to `jdbc:ch://(https://explorer@play.clickhouse.com:443),(https://demo:demo@github.demo.trial.altinity.cloud)?load_balancing_policy=random`(use arbitrary username and password) without any issue. We may still need an option to completely d

[2022-07-06 14:37] gothug opened #984 "Question: How to fetch Array(UInt64) values?"
When trying to fetch the column of type Array(UInt64) via Java Http Client, the values in the client's response are of ClickHouseLongArrayValue type, but they do not represent unsigned long values correctly.

Example:

ClickHouseNode endpoint = ClickHouseNode.of("https://localhost");

try (ClickHouseClient client = ClickHouseClient.newInstance(ClickHouseProtocol.HTTP);
    ClickHouseResponse respo

[2022-07-07 03:07] IcebergXTY opened #986 "why clear all compile dependencies in 0.3.2-patch10?"
In 0.3.2-patch9 version, there are many dependencies like [this](https://mvnrepository.com/artifact/com.clickhouse/clickhouse-jdbc/0.3.2-patch9)

![image](https://user-images.githubusercontent.com/15325243/177681597-fc72ccc3-f30e-4fb9-9050-ad62c8e7b9f8.png)

but in 0.3.2-patch10 version, there are none dependencies, so it will lead to compile and running error.

![image](https://user-images.github

[2022-07-07 10:38] XiaoMingPass opened #987 "timezone set use_server_time_zone=UTC+8,select now();datetime 8 hours less than now"
clickhouse-jdbc：
[code]
pom：
[code]

exec sql : select now();
result：2022-07-07T10:37:44.000+00:00(8 hours less than now)
reality：2022-07-07T18:37:44.000+00:00()

How to set JDBC parameters to execute normal results like MySQL?

[2022-07-07 12:07] ilittle-cnri commented on #986
Devs say issue will be fixed in next release. See https://github.com/ClickHouse/clickhouse-jdbc/issues/973 for a workaround.

[2022-07-07 14:19] #986 closed

[2022-07-08 09:23] zhicwu commented on #987
Hi @XiaoMingPass, I'm not sure what you are trying to achieve. If it's just about getting timestamp with preferred timezone, you don't have to specific `use_time_zone` and `use_server_time_zone` parameters in connection string, instead you just use query below - the last column returns `OffsetDateTime` in Java.

[code]

[2022-07-08 09:26] zhicwu commented on #986
Hi @IcebergXTY, please see my comments below:

You just need to add classifer `http` or `all` as mentioned in readme.

Sorry it was an unintentional change but it helps to enforce using shaded jar to avoid potential lib conflict.

[2022-07-08 10:03] IcebergXTY commented on #986
Thank you for your reply, it works well now.

That's all right. It's a great idea to use shaded jar.😜

[2022-07-11 06:11] pan3793 opened #989 "Duplicated lz4 classes in 0.3.2-patch10"
<img width="486" alt="image" src="https://user-images.githubusercontent.com/26535726/178199912-b96e4fbd-d71c-4ab6-adfe-1dcf3b162c0d.png">

<img width="484" alt="image" src="https://user-images.githubusercontent.com/26535726/178199774-b3061f73-9307-42f8-a534-1062b61075aa.png">

[2022-07-11 06:24] zhicwu commented on #989
Yes, I noticed that yesterday when cleaning up pom files 😭

[2022-07-11 12:45] qq8554650 opened #990 "0.3.2，enum is display unknown character"
dbeaver22.1.2+jdbc 0.2.6  ok
dbeaver22.1.2+jdbc 0.3.2  unknown character
![jdbc](https://user-images.githubusercontent.com/22789241/178267147-afea9183-47aa-4b9e-abf4-bdf7dcac6012.png)

[2022-07-11 13:00] imyoubo opened #991 "addBatch write timed out"
![image](https://user-images.githubusercontent.com/41062250/178268375-9c817536-1e90-49ce-b9b2-620d3e5eaf1a.png)
![image](https://user-images.githubusercontent.com/41062250/178269793-eb9a19e8-a506-46c6-922f-d6e96e6ed3db.png)

I batch write clickhouse through jdbc client.
But I ran into a problem while writing it.
When addBatch is executed about 2000 times, it is blocked, stuck there and cannot cont

[2022-07-11 13:12] imyoubo commented on #991
My program is executeBatch every 25w records
But every time after executing addBatch about 2000 times, it blocks, let alone executeBatch

我的程序是每25w条记录执行一次executeBatch
但是每次都是执行了2000次左右addBatch后，它就阻塞了，更没有执行过 executeBatch

[2022-07-11 13:23] zhicwu commented on #991
Hi @imyoubo, could you change `max_queued_buffers` to zero(unlimited) and try again? For example: `jdbc:ch://localhost?max_queued_buffers=0`.

[2022-07-11 13:39] zhicwu commented on #991
I'll remove the size limit in JDBC driver, so that nobody has to set the parameter explicitly.

[2022-07-11 13:59] imyoubo commented on #991
oh I tried it just now, and it really solved it. It seems to be the configuration problem of max_queued_buffers, thank you very much

[2022-07-12 02:30] imyoubo commented on #991
Hi @zhicwu  There seems to be a new problem, When executing executeBatch, an error is reported, "Please call addBatch method at least once before batch execution"
![image](https://user-images.githubusercontent.com/41062250/178395647-21c2b01d-9e7a-4f29-9174-f53226568c2a.png)

[2022-07-12 02:35] imyoubo commented on #991
Is https://github.com/ClickHouse/clickhouse-jdbc/issues/977

[2022-07-12 06:18] qq8554650 commented on #990
I upgraded to p9, but the problem persists
recorded a video
ck version: 22.1.3.7

https://user-images.githubusercontent.com/22789241/178421758-e3c97db9-23f1-47f0-8ff0-19e3d17cb568.mp4

[2022-07-12 09:51] sumitsethia94 opened #993 "Cannot build the project"
Hi, I get the module not found error when doing "mvn clean install" or "mvn clean verify" or "mvn -Drelease clean install"
I am using jdk 17 and have both 11 and 17 specified in mvn toolchain.
Can any one please help? Thanks!

Output of "mvn -Drelease clean install"

<img width="1063" alt="image" src="https://user-images.githubusercontent.com/44174724/178463074-6e9e71aa-f026-4e11-a8b7-62b3347c7a98

[2022-07-12 14:52] smartlee opened #994 "random ClickHouseUnknownException, code: 1002"
the stack:

`ru.yandex.clickhouse.except.ClickHouseUnknownException: ClickHouse exception, code: 1002, host: x.x.x.x, port: xx; null
	at ru.yandex.clickhouse.except.ClickHouseExceptionSpecifier.getException(ClickHouseExceptionSpecifier.java:92) ~[FlinksqlExecutor-pre1.0.0.jar:?]
	at ru.yandex.clickhouse.except.ClickHouseExceptionSpecifier.specify(ClickHouseExceptionSpecifier.java:42)
	at ru.yandex

[2022-07-13 00:22] zhicwu commented on #994
Hi @smartlee, is it a modified version of JDBC driver? I didn't find any clue based on above stack trace.

https://github.com/ClickHouse/clickhouse-jdbc/blob/v0.3.2/clickhouse-jdbc/src/main/java/ru/yandex/clickhouse/ClickHouseStatementImpl.java#L1071

[2022-07-13 00:25] zhicwu commented on #993
Hi @sumitsethia94, the configuration looks good to me. Could you try below against `develop` branch?

[code]

[2022-07-13 02:39] smartlee commented on #994
@zhicwu thx for reply , I mistake the clickhouse-jdbc version, it's 0.3.1
https://github.com/ClickHouse/clickhouse-jdbc/blob/v0.3.1/clickhouse-jdbc/src/main/java/ru/yandex/clickhouse/ClickHouseStatementImpl.java#L1071

should i try 0.3.2? the ClickHouseUnknownException return value `null` is confused

[2022-07-13 05:24] zhicwu commented on #994
Yes please. You can bump driver to 0.3.2-patch10 or so to see if the unknown exception is gone. Also I'd suggest you to change driver class to `com.clickhouse.jdbc.ClickHouseDriver`, because you're using a deprecated driver.

[2022-07-13 08:04] #993 closed, assigned to nobody

[2022-07-13 15:54] 1pyxa1 commented on #976
Hi,
sorry for late reply. indeed there was the error in `system.query_log`.
[code]
after I pass `min_execution_speed` setting got again
[code]
in pyspark application and the 'real' cause in `system.query_log`:
[code]
is there any chance to pass this exceptions to application? it would be much convenient for debug.

[2022-07-15 11:48] clinmanc opened #999 "IllegalArgumentException caused by local default datetime when using nullAsDefault property"
` jdbc:ch:http://host:port?nullAsDefault=2`

[code]

[code]

[2022-07-16 03:28] kiwimg opened #1001 "Importing csv file into table"
How to import CSV files into a table？

v0.3.2-patch10，use “ com.clickhouse.jdbc.ClickHouseStatement”   Is this correct？
    clickHouseStatement.write() // Write API entrypoint
                    .table(endPiont).format(ClickHouseFormat.CSV)// where to write data
                    .data(file.getAbsolutePath(), ClickHouseCompression.ZIP)/// specify input
                    .send();

ru.yandex.cl

[2022-07-16 03:50] kiwimg opened #1002 "`java.lang.NoClassDefFoundError: com/clickhouse/client/http/HttpClientConnectionImpl"
0.3.1 update to  v0.3.2-patch10
java  11
`
<dependency>
                <groupId>com.clickhouse</groupId>
                <artifactId>clickhouse-jdbc</artifactId>
                <version>0.3.2-patch10</version>
                <classifier>all</classifier>
                <exclusions>
                    <exclusion>
                        <groupId>*</groupId>
                        <artifactId>*

[2022-07-16 12:14] kiwimg opened #1003 "Caused by: java.sql.SQLException: Fetch size cannot be negative number"
v0.3.2-patch10
#fetchSize="-2147483648"，Integer.MIN_VALUE=-2147483648

![企业微信截图_1657973636964](https://user-images.githubusercontent.com/13777509/179354452-5fe091d8-b0ca-480f-ac7d-274e8f6f148d.png)

![image](https://user-images.githubusercontent.com/13777509/179354467-2dade794-9fcd-4d01-8860-15e553a48147.png)

[2022-07-17 03:38] zhicwu commented on #1003
Thanks for the report but why setting a negative fetch size?

https://docs.oracle.com/javase/8/docs/api/java/sql/Statement.html#setFetchSize-int-

[2022-07-17 03:41] zhicwu commented on #1002
The dependency looks good but not sure why ended up with class not found exception. Did you resolve this?

[2022-07-17 23:55] kiwimg commented on #1002
没有解决 、之后完全复制version 11 下面的class 到自己工程中

[2022-07-18 04:28] kiwimg commented on #1001
How to import large CSV files quickly,  What is a good implementation method， thanks

[2022-07-18 05:43] newfield commented on #566
I solved my problem like this:  use spark insert （scala）
use clickhouse-jdbc-0.3.2
my ] code：
val data_map=fieldVal.asInstanceOf[scala.collection.immutable.Map[_,_]].toMap
preparedStatement.setObject(fieldIdx + 1, scala.collection.JavaConversions.mapAsJavaMap(data_map))

[2022-07-18 05:45] newfield commented on #560
I solved my problem like this: use spark insert （scala）
use clickhouse-jdbc-0.3.2
my  code：
val data_map=fieldVal.asInstanceOf[scala.collection.immutable.Map[,]].toMap
preparedStatement.setObject(fieldIdx + 1, scala.collection.JavaConversions.mapAsJavaMap(data_map))

[2022-07-18 07:09] zhicwu commented on #1001
Sorry for the late reply. `ClickHouseFile` was added for this but it's only half baked. I think I can quickly fix that when I get home. You'll be able to use below code starting from patch11:

[code]

[2022-07-18 07:14] kiwimg commented on #1001
Very good！thanks！！

Can GZ files be automatically compressed? For example, the CSV source files I import are automatically compressed by the interface
 patch11: When will it be released？

[2022-07-18 07:19] kiwimg commented on #1002
This should be a bug

[2022-07-21 12:34] wise-coders opened #1005 "JDBC Driver and Docker Container"
I tried to start a ClickHouse docker container:
[code]

And connect using JDBC Driver using:
[code]
I receive
[code]
What can be wrong? Is any default user or password which I should use, or should I change the docker config?

[2022-07-21 14:08] zhicwu commented on #1005
Hi @wise-coders, are you using self-signed certificates? Did you try to change sslmode to `none` or provide root CA?

The error looks like ssl handshake error mentioned at [here](https://stackoverflow.com/questions/28908835/ssl-peer-shut-down-incorrectly-in-java).

[2022-07-21 14:45] wise-coders commented on #1005
I succeed using port 8123, and ?ssl=false&sslmode=NONE
This with the port was confusing for me. Either the docker container uses a non-standard value, or the documentation should be improved. Is better to use a single value all over, including the containers.

[2022-07-21 15:03] zhicwu commented on #1005
I see. By default, ClickHouse uses port 8123 for http and 8443 for https. This can be changed in server configuration like [this](https://github.com/ClickHouse/clickhouse-jdbc/blob/master/clickhouse-client/src/test/resources/containers/clickhouse-server/config.d/ports.xml).

When you use JDBC driver, you don't have to always specify port number in connection string. For example: `jdbc:ch:http://lo

[2022-07-21 18:24] hhoughgg commented on #1002
I have the same issue using this driver with Spark. I tried using the -all tag as suggested in another issue which did not help. Using the same patch10 version.

[2022-07-23 15:13] kiwimg opened #1006 "Insert XLSX (Excel) into Clickhouse table"
Insert XLSX (Excel) into Clickhouse table

How to directly insert Excel files into tables in batches，No need to convert to CVS file

[2022-07-24 00:30] kiwimg opened #1007 "How to generate parquet file in Java？"
How to generate parquet file in Java？Is there an independent Open Source Toolkit （jar）? Help recommend some？

[2022-07-26 08:12] AlexMAS opened #1012 "Select before insert"
Hello!

I'm trying to switch from `0.3.2-patch7` to `0.3.2-patch10` and at the same time replace the usage of `ru.yandex.clickhouse` with `com.clickhouse`.

I noticed before each `INSERT` you're trying to perform prefetch column types, for example here - [`ClickHouseConnectionImpl.getTableColumns()`](https://github.com/ClickHouse/clickhouse-jdbc/blob/v0.3.2-patch10/clickhouse-jdbc/src/main/java/co

[2022-07-26 09:35] zhicwu commented on #1012
Hi @AlexMAS, if you know the types, can you use input function like below? This way, the driver will simply parse the query to get metadata, instead of using additional query.

[code]

[2022-07-26 23:31] zhicwu commented on #918
@wzqiang1332, thanks for the pull request. Sorry I don't have much time to add more tests for the change. Since it's been merged into develop branch, would you mind to generate a build and test again in your environment? Also is it necessary to update RoaringBitmap dependency?

[2022-07-27 00:56] justwinter opened #1013 "clickhouse-jdbc: the count of view less then actual"
Hi,everybody:
When I used clickhouse-jdbc driver to querry clickhouse view ,the cout result less then actual count.

Details:
I have a distributed table in the clickhouse ,and create view based on the distributed table .
When the count of distributed table is small,the query is normal. At this time, the count of the view is the same as that of the distribution table.

However, when the count of th

[2022-07-27 01:02] wzqiang1332 commented on #918
@zhicwu I have tested it in my local environment. The bug is caused by the bitmap reading 3 bytes too many, resulting in the following field reading misalignment

[2022-07-27 01:02] zhicwu commented on #1013
Hi @justwinter, I noticed the same issue in server repo - @den-crane suggested you to try curl. Did you get same result using curl? Just trying to understand if the issue is related to http interface.

[2022-07-27 01:06] justwinter commented on #1013
Yes, I tried the curl command, and the query result is normal. Only when I use JDBC to query, it is abnormal

[2022-07-27 01:23] zhicwu commented on #1013
What's the IDE you're using? DBeaver or a program using the JDBC driver? Is there any proxy between client and server? It sounds like an issue since curl worked just fine. I'll follow the instructions you provided and see if I can reproduce.

[2022-07-27 01:25] zhicwu commented on #918
Thanks for confirming @wzqiang1332! It will be part of 0.3.2-patch11 which hopefully can be released by Friday, before I start to play Xenoblade 3 :)

[2022-07-27 01:37] justwinter commented on #1013
I'm using DBeaver 21.1.2，and no agent or proxy between client and server

[2022-07-27 01:41] zhicwu commented on #975
Performance penalty for transaction support is acceptable(on client side):

![image](https://user-images.githubusercontent.com/4270380/181141831-81545d20-2640-4563-987f-61f0b101fe8c.png)

[2022-07-27 03:47] den-crane commented on #1013
Clarify he same results. If use JDBC versions below 0.3.2 is it correct or incorrect result?

[2022-07-27 03:49] justwinter commented on #1013
incorrect result

[2022-07-27 04:00] den-crane commented on #1013
What if you query *SELECT toUInt64(9876543) *what result do you get?

On Wed, Jul 27, 2022, 00:50 justwinter ***@***.***> wrote:

[2022-07-27 05:37] justwinter commented on #1013
Get the correct value 9876543

[2022-07-27 05:53] justwinter commented on #1013
My cluster has three machines. When I connect to different IP addresses, the query results will be different.
Let's see

IP 1:
select count(1),max(id) from temp.test_table;
-- 2081916	fff61eea-90d4-471d-bff6-1eea90d4471d999

select count(1),max(id) from temp.test_table_v;
-- 742709	fff61eea-90d4-471d-bff6-1eea90d4471d999

select count(1),max(id) from temp.test_table_local;
-- 693557	fff61eea-90d4-

[2022-07-27 06:18] laeubi opened #1014 "README building is incomplete"
The readme suggest that one can run `mvn -Drelease clean install` but this results in
[code]

I then simply used `mvn -Drelease clean install -DskipTests`, but it would be good to note that in the readme that one actual needs docker, how to setup and alike or what are the alternatives (allowing arbitrary code to create docker containers could be seen as a security risk)

[2022-07-27 07:09] zhicwu commented on #1014
Thanks @laeubi. Yes, by default it uses testcontainer for integration test, although it's optional. On the other hand, `clickhouse-cli-client` is probably the only module requiring either clickhouse binary or docker to run. I'll improve the error message and readme to cover that.

[2022-07-27 08:20] AlexMAS commented on #1012
@zhicwu Thank you for reply. Yes, the `input()` function works well but to be honest the query syntax in this case is quite verbose. It'll be great if you mention about the `input()` function in the project readme/wiki.

Then another question. Are there other alternatives besides the `input()` function. As I understand, JDBC Driver is just a wrapper over Client API? And we can use it directly. Wha

[2022-07-27 09:44] wdream opened #1015 "The field type is DateTime,the default value is null"
The field type is DateTime, the default value is null, and NullPointException when a query is mapped to a Java.
![image](https://user-images.githubusercontent.com/40849836/181216812-a532bfed-1a66-4fca-a4cb-037d8839dbb6.png)

[2022-07-27 12:09] den-crane commented on #1013
@justwinter please share

[code]
executed via jdbc and curl

[2022-07-27 16:30] XiaoJiuDYS opened #1017 "Why does jdbc not support custom sessionId"
I want use TEMPORARY table in multiQuery,but i can't create it;
And i can't set session_id;

version 0.3.2 com.clickhouse
[code]

[2022-07-27 16:41] XiaoJiuDYS commented on #1017
I read the source code and found that custom sessionId is not supported

[2022-07-27 22:34] zhicwu commented on #1012
I agree. I wish ClickHouse supports prepared statement so that we don't have to do this.

There's examples for batch insert at [here](https://github.com/ClickHouse/clickhouse-jdbc/tree/master/clickhouse-jdbc#examples) but I guess it's hard to notice. Moving them to wiki is probably better.

If the data volume is not huge and you don't mind to keep them in memory(on ClickHouse server), you may try

[2022-07-27 22:36] zhicwu commented on #1013
I didn't reproduce the issue on my 4-node(2 shards + 2 replicas + 3 keepers) cluster in local. I tried different database clients as well. Will try it again using 3-node without replica and generate different rows in local tables.

[2022-07-27 22:40] zhicwu commented on #1015
Hi @wdream, so the column is defined as `ts DateTime DEFAULT NULL`? Could you share more information to help me reproduce the issue?

[2022-07-27 22:43] zhicwu commented on #1017
Hi @XiaoJiuDYS, it's actually supported. When you issue multi-statement query, session will be created automatically. And if you prefer to set custom session id, you may pass property "session_id=mySessionId" when creating connection. In worst case, if none of them working, you may use `statement.unwrap(ClickHouseRequest.class).session("mySessionId")`, but it's not recommended.

[2022-07-28 00:36] justwinter commented on #1013
JDBC:
load_balancing	random
distributed_ddl_task_timeout	1200
max_bytes_before_external_group_by	8053063680
max_bytes_before_external_sort	8053063680
max_result_rows	200
result_overflow_mode	break
max_memory_usage	42949672960
allow_experimental_database_materialized_mysql	1

CURL:
max_threads	20
load_balancing	random
distributed_ddl_task_timeout	1200
max_bytes_before_external_group_by	8053063680
m

[2022-07-28 01:38] justwinter commented on #1013
@den-crane @zhicwu  I found max_result_rows/result_overflow_mode  these two settings are set by dbeaver, and I can't changes it.
 So I tried to upgrade dbeaver, and then query was normal.
I get the same and correct results when querying views and distributed tables.

 In addition, for Java programs using JDBC connection, setting a larger value for max_result_rows  in the JDBC string ,I get the cor

[2022-07-28 01:38] #1013 closed

[2022-07-28 07:55] wdream commented on #1015
gmt_register    Nullable(DateTime) default NULL
When you set it up like this, you get a problem

[2022-07-28 07:55] wdream commented on #1015
gmt_register    Nullable(DateTime) default NULL
When you set it up like this, you get a problem

[2022-07-28 15:01] AlexMAS commented on #1012
@zhicwu Thank you for so comprehensive reply! Probably the last question regarding Java Client API. How can I pass credentials (username and password)? I see overloads of the `ClickHouseNode.of()` but none of them accepts `ClickHouseCredentials`. Initially I expected something like this:

[code]

[2022-07-28 15:24] zhicwu commented on #950
If you can upgrade ClickHouse to 22.7, you don't have to upgrade JDBC driver but simply add connection property `custom_http_headers=implicit_transaction%3D1` to enable [implicit transaction](https://github.com/ClickHouse/ClickHouse/pull/38344).

[2022-07-28 15:24] #950 closed

[2022-07-28 15:27] zhicwu commented on #870
Starting from 0.3.2-patch11, you should be able to customize query ID and session ID by implementing ClickHouseRequestManager.

https://github.com/ClickHouse/clickhouse-jdbc/blob/27f8951cdc380bf1799f76efc21fc377fc6d5981/clickhouse-client/src/main/java/com/clickhouse/client/ClickHouseRequestManager.java#L16-L17

[2022-07-28 15:27] #870 closed

[2022-07-28 15:28] #977 closed

[2022-07-28 15:29] #972 closed

[2022-07-28 15:29] #978 closed

[2022-07-28 15:30] #979 closed

[2022-07-28 15:36] zhicwu commented on #947
Now the update count depends on two things: 1) SQL parser(a bit outdated); and 2) summary returned from server. Above two cases work as expected on 22.6+.

[2022-07-28 15:36] #947 closed

[2022-07-29 01:49] #989 closed

[2022-07-29 01:49] #973 closed

[2022-07-29 01:49] #999 closed

[2022-07-29 03:45] #1017 closed

[2022-07-29 03:57] #991 closed

[2022-07-29 03:59] #918 closed

[2022-07-29 04:04] #984 closed

[2022-07-29 04:56] #1014 closed

[2022-07-29 04:58] XiaoJiuDYS commented on #1017
i just see the JdbcTemplate execute

Thanks!! it worked

[2022-07-29 05:36] AlexMAS commented on #1012
Can I rely that the `ClickHouseClient` instance is thred-safe?

[2022-07-29 05:43] aarcha123 opened #1023 "Unsupported data type: JSON"
Using the below snippet results in "Unsupported data type: JSON:"  using 0.3.2.patch11

[code]

Table definition
[code]

Stack trace:

[code]

[2022-07-29 06:36] zhicwu commented on #1012
Yes, you can add credentials in ClickHouseNode using its builder function, which helps when you need to connect to multiple nodes using different credentials.  You can also set default credentials at client level, for example:

[code]

Yes it's thread safe. However, you probably don't have to create many client instances. Instead, you may reuse the client instance and create multiple ClickHouseReq

[2022-07-29 06:41] zhicwu commented on #1023
Hi @aarcha123, thanks for the report. It looks like now ClickHouse supports string format JSON object, which is way better than constructing a complex object in client. I'll update data type mapping accordingly in next release. Meanwhile, the workaround is simply change `JSON` to `String` in your **insert** query.

[2022-07-29 07:13] #1012 closed

[2022-07-29 07:40] zhilinli123 opened #1024 "Caused by: java.sql.SQLFeatureNotSupportedException: ClickHouse does not support auto generated keys"
Clickhouse Verison:
     <dependency>
            <groupId>com.clickhouse</groupId>
            <artifactId>clickhouse-jdbc</artifactId>
            <version>0.3.2</version>
Java Demo:
   statement = (ClickHousePreparedStatement) connection.prepareStatement(sql, keyNames);
How can I avoid this problem

[2022-07-29 08:23] zhicwu commented on #1024
Hi @zhilinli123, I think the error message is clear. Could you explain what are you trying to achieve?

[2022-07-29 08:26] zhilinli123 commented on #1024
I want to turn off auto generated with the parameter

[2022-07-29 08:27] zhilinli123 commented on #1024
I consulted this blog
我参考了这个博客 https://blog.csdn.net/binbinwan51a/article/details/123453501
I wonder if clickhouse-JDBC has this parameter?

[2022-07-29 08:31] zhicwu commented on #1024
I think you're talking about an option in mybatis, not JDBC driver?

[2022-07-29 08:33] zhilinli123 commented on #1024
I understand that MyBatis undergoes Java API and uses Clickhouse JDBC to connect. I wonder if similar parameters can be supported

[2022-07-29 13:04] #994 closed

[2022-07-29 13:12] #934 closed

[2022-07-29 13:14] #958 closed

[2022-07-29 13:15] #987 closed

[2022-07-29 13:30] zhicwu commented on #1024
To answer your question, there's no such option in this jdbc driver. Is there any specific reason you must call Connection.prepareStatement(sql, keyNames) method? Why not use prepareStatement(sql) instead? I may help if the use case is clear.

[2022-07-29 14:35] aarcha123 commented on #1023
Thank you @zhicwu

[2022-07-29 20:59] acruise opened #1025 "Can't retrieve Tuples in `SELECT *`, IllegalArgumentException: unknown data type. Projecting flattened names works OK though"
Hey folks,

When I `SELECT *` from a table that has Tuple fields, I get an IllegalArgumentException with the message `Unknown data type: srcdest String` (`srcdest` is the name of the nested field)

Here's the relevant section of the DDL (this is from the OpenSearch "logs" sample dataset):

[code]

[code]

but when I flatten it myself with `SELECT geo.srcdest` it works fine. `SELECT *` from the HTT

[2022-07-29 22:43] zhicwu commented on #1025
Hi @acruise, could you upgrade driver to 0.3.2-patch11? Named tuple was supported along with JSON data type since 0.3.2-patch8.

[2022-08-01 06:53] kiwimg commented on #1002
This problem is still not solved,0.3.2_batch11

java -version
java version "11.0.6" 2020-01-14 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.6+8-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.6+8-LTS, mixed mode, sharing)`

[2022-08-01 08:21] wallace-clickhouse opened #1026 "Has the copyright of clickhouse-jdbc changed?"
Has the copyright of clickhouse-jdbc changed from Yandex to ClickHouse Inc？
Thank you!

[2022-08-01 23:53] zhicwu commented on #1026
Hi @wallace-clickhouse, yes and the driver has been rewritten since v0.3.2 purely for technical reasons(decoupling, renaming package, and performance improvement etc.). Is there any concern since it's APL 2.0?

[2022-08-01 23:56] zhicwu commented on #1002
Sorry to hear about that. Just tried `../ClickHouse/clickhouse-jdbc/tree/master/examples/jdbc` without any issue. Could you provide minimum reproducible code?

[2022-08-01 23:56] #1024 closed

[2022-08-01 23:57] zhicwu commented on #1006
Close as the question has nothing to do with the JDBC driver. I think you may try third party lib like POI or perhaps it's better to use .NET.

[2022-08-01 23:57] #1006 closed

[2022-08-01 23:59] zhicwu commented on #1007
Close as it's unrelated to the repo. You'd better search that on Google - there's plan to better support those formats for importing and exporting in the future.

[2022-08-02 00:01] #1007 closed

[2022-08-02 00:03] zhicwu commented on #1015
I assume you're using latest driver but I was not able to reproduce the issue. Could you provide more details and maybe minimum code for reproducing?

[2022-08-02 01:18] zhicwu commented on #1001
@kiwimg, since patch11 has been released, you may refer to [this](https://github.com/ClickHouse/clickhouse-jdbc/blob/f285b73d45597e29cf36dff4daf4cb4f9f53453a/clickhouse-client/src/test/java/com/clickhouse/client/ClientIntegrationTest.java#L1213-L1271) for direct file loading, which should be similar to use curl. If you want Java client to take care of compression when uploading file, you just need

[2022-08-02 01:23] zhicwu commented on #882
`ClickHouseWriter` can be used in a similar way, please refer to [this](https://github.com/ClickHouse/clickhouse-jdbc/blob/f285b73d45597e29cf36dff4daf4cb4f9f53453a/clickhouse-client/src/test/java/com/clickhouse/client/ClientIntegrationTest.java#L1131-L1163).

[2022-08-02 01:23] #882 closed

[2022-08-02 01:44] wallace-clickhouse commented on #1026
Thank you@zhicwu
I have no concern about APL 2.0,while I am wondering why and from which version the copyright was changed?If I use v0.3.2,is it exactly compatible for versions earlier than v20.7.

[2022-08-02 02:46] kiwimg commented on #1002
My program runs on docker

[2022-08-02 07:26] zhilinli123 commented on #911
@zhicwu @Aload May I ask how to solve the problem at last?

[2022-08-02 08:36] guosk123 opened #1027 "Why DQL SETTINGS not support placeholder ?"
step:
sql：select xxx from xxx settings max_execution_time = :max_execution_time
params：put("max_execution_time", 3);

result：
c.c.jdbc.parser.ClickHouseSqlParser      : Parse error at line 1, column 284.

[2022-08-02 09:51] Aload commented on #911
<dependency>
                <groupId>com.clickhouse</groupId>
                <artifactId>clickhouse-jdbc</artifactId>
                <classifier>http</classifier>
                <version>0.3.2-patch7</version>
                <exclusions>
                    <exclusion>
                        <groupId>*</groupId>
                        <artifactId>*</artifactId>
                    </exclusi

[2022-08-02 11:28] kiwimg commented on #1001
Thank you very much. You're really great

[2022-08-02 11:28] kiwimg commented on #1001
Thank you very much. You're really great

[2022-08-02 11:28] kiwimg commented on #1001
Thank you very much. You're really great

[2022-08-02 11:33] AlexMAS opened #1028 "Client API and passing query parameters"
Hello!

I'm trying to migrate from JDBC API to Client API by using `0.3.2-patch10`.

With JDBC API I can define parameters using the `?` marker like this:
[code]

And then set them like this:
[code]

Eventually I'll get the query:
[code]

The Client API expects that parameters are defined in the format ` :<name>[(<type>)]`. Thus I should rewrite my request like this:
[code]

Along with it I expect

[2022-08-02 14:51] subkanthi opened #1029 "Insert batch - JSON error"
[code]
Looks like a server error, will close it after investigation.

[2022-08-03 07:59] zhicwu commented on #1029
Hi @subkanthi, what's the query for reproducing the issue? There's workaround(just treat JSON as String) for client-side serialization issue mentioned in #1023.

[2022-08-03 08:06] zhicwu commented on #1027
Hi @guosk123, could you share the exact SQL which has the problem? Below works for me:

[code]

[2022-08-03 08:15] zhicwu commented on #1028
Hi @AlexMAS, named parameter is used by default because it has a few advantages: 1) reuse parameter in same query; 2) extended to support data type. Yes, it's going to be a problem when you want to reuse the exact same query for JDBC, or there are many many parameters.

To answer your questions:

They looks similar but they're different, for example:
[code]

Question mark placeholder is only suppo

[2022-08-03 08:19] zhicwu commented on #1026
Sorry for the late response. Yes, it's changed since v0.3.2. However, as stated in README, v0.3.2 only supports ClickHouse 20.7+ and it's not a drop-in replacement of legacy driver(due to many changes around protocol and data format etc.).

As ClickHouse is evolving fast, you probably should consider to always upgrade the server to one of the [active releases](https://github.com/ClickHouse/ClickHo

[2022-08-03 09:43] guosk123 commented on #1027
@zhicwu, the sql is probably like you wrote, can be executed successfully! But, an alert will appear:
`2022-08-02 00:00:00.700  WARN 32504 --- [calculate-task] c.c.jdbc.parser.ClickHouseSqlParser      : Parse error at line 1, column 397.  Encountered: ?. If you believe the SQL is valid, please feel free to open an issue on Github with this warning and the following SQL attached.
 select SUM(total_

[2022-08-03 14:05] zhicwu commented on #1029
I was able to reproduce the issue and I believe it's more of a server side issue - ClickHouse/ClickHouse#39866

[2022-08-04 08:47] kiwimg opened #1032 "” Transaction is not supported. WARN 1“ How to remove"
” Transaction is not supported. WARN 1“  How to remove
`
2022-08-04 16:44:42.607  WARN 1 --- [duler_Worker-12] c.c.j.internal.ClickHouseConnectionImpl  : [JDBC Compliant Mode] Transaction [28bb8f64-3988-4416-aa01-db06faf42499] (1 queries & 0 savepoints) is rolled back.
2022/8/4 16:44:42 2022-08-04 16:44:42.610  WARN 1 --- [duler_Worker-12] c.c.j.internal.ClickHouseConnectionImpl  : [JDBC Compliant

[2022-08-05 11:27] Veirisa opened #1033 "Cancel statement don’t work due to “Session is locked by a concurrent client” (0.3.2-patch11)"
Hi!

I'm unable to cancel a statement using the `cancel()` method if `session_id` is set.

I had the same problem with the driver v0.3.1, however, there it was possible to set the `SESSION_ID` to null for the `ru.yandex.clickhouse.ClickHouseStatementImpl` statement before cancelling with `ru.yandex.clickhouse.ConfigurableApi#addDbParam`.

With a new driver, a similar approach with the `com.clickho

[2022-08-05 12:30] qq8554650 commented on #990
When I upgrade to 11, this problem has been solved.ths
![image](https://user-images.githubusercontent.com/22789241/183077553-3d0a4747-e445-4957-ba20-6f9b6fcd8f14.png)

[2022-08-05 12:30] #990 closed

[2022-08-06 01:51] kiwimg opened #1034 "these JDBC parameters supported by Clickhouse?"
these JDBC parameters supported by Clickhouse?
prepStmtCacheSize
prepStmtCacheSqlLimit
cachePrepStmts
useServerPrepStmts

[2022-08-06 02:47] zhicwu commented on #1027
Thanks @guosk123. I'll fix the issue in ClickHouseSqlParser.

[2022-08-06 02:49] zhicwu commented on #1032
You may exclude the warning by updating your log configuration, for example, increase log level to error for `com.clickhouse.jdbc`.

[2022-08-06 02:54] zhicwu commented on #1033
Sorry it's a bug introduced in 0.3.2-patch10. The `session_id` defined in connection string is re-used for query cancellation, which does not work(because ClickHouse can only execute one query at a time for each session). I don't have a good workaround for this, but you must use patch11, you may consider remove session_id from connection string and manage session manually using unwrapped statement

[2022-08-06 03:04] zhicwu commented on #1034
Thanks for the request.

ClickHouse does not support prepared statement so there's no plan for `useServerPrepStmts`. I thought about the rest but they won't benefit performance much for the same reason. Having said that, I'll add cache once I added new SQL parser in 0.3.3.

[2022-08-06 10:50] #1026 closed

[2022-08-08 03:28] wdream commented on #1015
I use Java programming and set the field type as Date. When the type in DB is Nullable(DateTime) default NULL and the value is NULL, an error will be reported when the query comes out

[2022-08-09 16:27] acruise commented on #1025
`-patch11` worked, thanks!

[2022-08-09 16:27] #1025 closed

[2022-08-14 09:04] shaokunW opened #1042 "Unknown data type: int64 when integrated with spark project"
Hi, I got an exception when the data was saved to clickhouse by sparkSQL with clickhouse-jdbc.

This would happen, when the type of the columns was Array[Int64].
And the SparkSql will handle the array type using following codes: [spark code](https://github.com/apache/spark/blob/master/sql/core/src/main/scala/org/apache/spark/sql/execution/datasources/jdbc/JdbcUtils.scala#L625)

The nested type Int

[2022-08-14 10:15] zhicwu commented on #1042
Hi @shaokunW, thanks for reporting the issue and providing a quick fix. Is there any good reason Spark enforcing nested type name in lower case?

[2022-08-14 13:07] shaokunW commented on #1042
Sorry, I don't have a deep understanding of the Spark framework. Most databases accept both upper and lower case when defining a column in a DDL statement, so I think this conversion is just for formatting purposes.

I have found that Clickhouse works well for ints, such as int, int, int, but not for 'int64'. I have also seen data type definitions and aliases from 'select * from system.data_type_f

[2022-08-15 02:49] zhicwu commented on #1042
@shaokunW, ClickHouse supports both case-sensitive and case-insensitive data types. You may get the full list from `system.data_type_families`. The implementation in Spark has 3 problems to me: 1) enforcing case-insensitive data type, which might not be suitable for all databases; 2) only part of nested type name was passed to JDBC driver, meaning you'll have problem dealing with cases like Array(

[2022-08-15 04:49] chengbi7 opened #1044 "use insert (a,b,c) values (a,b,c) in jdbc get wrong order"
When I use insert, I use setXXX to transform java entity into PreparedStatement.
But in some cases,  I get wrong order like 'Too many digits (11 > 10) in decimal value:  at row 0'
And when I change the column order, I will get different error. So I suspect that I get the wrong order.
I find that the httpclient will return 400 error.

But not every entity will get error. Most of the examples will b

[2022-08-15 05:01] zhicwu commented on #1044
Hi @chengbi7, thanks for the report. Could you provide minimal code for reproducing?

[2022-08-15 05:45] chengbi7 commented on #1044
// price items
            List<PriceItem> priceItemList = value.getPriceItems();
            BigDecimal[] price = new BigDecimal[priceItemList.size()];
            String[] provider = new String[priceItemList.size()];
            for (int i = 0; i < priceItemList.size(); ++i) {
                PriceItem priceItem = priceItemList.get(i);
                price[i] = priceItem.getPrice();

[2022-08-15 05:46] chengbi7 commented on #1044
public interface FlightPrice extends Serializable {

    /**
     * Flight Market
     */
    String getMarket();

    /**
     * Price source
     */
    @Nonnull
    PriceSource getSource();

    /**
     * Depart citycode
     */
    @Nonnull
    String getOrigin();

    /**
     * Arrive citycode
     */
    @Nonnull
    String getDestination();

    /**
     *
     */
    @Nonnull
    Date ge

[2022-08-15 05:53] zhicwu commented on #1044
Thanks @chengbi7. What's the table structure and the code for creating the prepared statement?

As to the specific error, did you check ClickHouse/ClickHouse#10202?

[2022-08-15 06:00] chengbi7 commented on #1044
Thanks for reply. When I change the column order in insert SQL， the error will change. I think its not because the long or decimal column

[2022-08-15 06:01] chengbi7 commented on #1044
CREATE TABLE fltbickdbchdb.bluespace_parser ( `pricesource` String COMMENT 'field1comment', `origin` String COMMENT 'field2comment', `destination` String COMMENT 'field1comment', `outbounddate` DateTime COMMENT 'field2comment', `inbounddate` DateTime COMMENT 'field1comment', `flightgroup` String COMMENT 'field2comment', `minprice` Decimal(10, 2) COMMENT 'field1comment', `currency` String COMMENT '

[2022-08-16 09:21] chengbi7 commented on #1044
Can you get the same error ? Or shall I product complete data?

[2022-08-16 12:28] konstantinosss commented on #413
It seems a similar code from the extended API example also hangs on a large amount of data if `async=false` is specified. As there is no thread for reading from `BlockingPipedOutputStream`:

[code]

This is the example:

[code]

[2022-08-16 13:02] shaokunW commented on #1042
Aggred with that. It is not proper to alter the nested type again since the operation has been delegated to JdbcDialect implementation.
Yes, a option field can work for this, but which datatypes are suitable to has a true caseInsensitiveTypeName this time?
It would be great to have its implementation for JdbcDialect of Spark.

[2022-08-16 13:16] zhicwu commented on #1044
Below works for me. What's the query you used for inserting? Can you modify below code to reproduce the issue at your end?

[code]

[2022-08-16 13:26] zhicwu commented on #1042
Spark JDBC implementation does not support nested data type well, so I guess it's better to implement a JdbcDialect instead of adding workaround in JDBC driver. I think you can take [this](https://github.com/housepower/ClickHouse-Native-JDBC/blob/master/clickhouse-integration/clickhouse-integration-spark/src/main/scala/org/apache/spark/sql/jdbc/ClickHouseDialect.scala) as an example to register yo

[2022-08-16 13:46] zhicwu commented on #413
Hi @konstantinosss, yes, ClickHouseWriter should be enhanced. As of now, the workaround is to add `request.option(ClickHouseClientOption.MAX_QUEUED_BUFFERS, 0)` to use unbounded queue instead if you have more than 4096 * 512 bytes to write.

[2022-08-16 14:19] shaokunW commented on #1042
Thanks. The  example you shared has been integrated into my project to support nested data type like Array. However, when the type is Array, Spark will call createArrayOf method of ClickhouseConnection with lowercase type name, which can be avoided..

[2022-08-17 02:51] DemonJun opened #1045 "how can i insert data use grpc-client with lz4 Compression and with format RowBinary?"
my code like this:
[code]
but i get an error:
[code]

[2022-08-17 07:03] shaokunW commented on #1042
@zhicwu For JDBC-specific option caseInsensitiveTypeName, you mean to add a config option into com.clickhouse.jdbc.JdbcConfig?

[2022-08-17 10:58] chengbi7 commented on #1044
Thanks for reply.

When I use addBatch and executeBatch, the error disappear.
And I also find that sometimes my data has wrong decimal, maybe thats the reason.

Thanks again.

[2022-08-18 14:41] konstantinosss opened #1046 "max_query_size URL parameter stopped working"
We use max_query_size as JDBC URL parameter to increase allowed select query size:
`jdbc:clickhouse://ch-host:8123/db?max_query_size=1000000`

After switching from the deprecated package `ru.yandex.clickhouse` to the new one `com.clickhouse.jdbc` we discovered that this parameter is ignored and currently we have exceptions:

[code]

Position 262144 is related to the default limit of 256 KiB.

[2022-08-18 23:15] zhicwu commented on #1046
Hi @konstantinosss, you can add `custom_http_params` in connection property or url, for examples:
* connection property
[code]
* connection url
[code]

Sorry this is more of a workaround at this point because it's limited to http protocol. I'll add `custom_settings` to support more protocols.

[2022-08-18 23:22] zhicwu commented on #1044
Good to know that it's been resolved. Please feel free to reopen this if you're certain there's no data issue at your end but something wrong with the driver(e.g. batch insert works but not executeUpdate).

[2022-08-18 23:22] #1044 closed

[2022-08-18 23:33] zhicwu commented on #1045
Thanks for the report @DemonJun and apologize for the late reply.

The gRPC implementation does not support compressing client request as of now, but I'll fix that in next release. However, please be aware of the performance issue I mentioned at [here](https://github.com/ClickHouse/ClickHouse/issues/28671#issuecomment-1087049993), which may impact inserting as well. If there's no specific reason t

[2022-08-19 00:07] zhicwu commented on #1042
Sorry for the late reply. Yes, in JdbcConfig so it won't impact Java client. On a second thought, it might be better to provide a mapping between ClickHouse native data type and standardized case-insensitive types, so that it's easier for Spark to understand. There's an option for renaming response column, I think I can add one more to rename column type as well.

[2022-08-19 06:49] zhengwenhao07 opened #1047 "Can I customize queryId in JDBC Driver?"
Can I customize queryId in JDBC Driver?
![image](https://user-images.githubusercontent.com/101534190/185560307-5ce3190b-229c-45d3-ad5e-2fed70198ae6.png)

[2022-08-19 09:47] zhicwu commented on #1047
Hi @zhengwenhao07, looks like the question is same as ClickHouse/ClickHouse#40344.

Yes you can customize query but since it's not of jdbc standard, you'll have to use Java client. Besides implementing a `ClickHouseRequestManager` to customize query id for all queries, you can use below if you only want to customize query id for specific queries:

[code]

[2022-08-20 01:58] zhengwenhao07 commented on #1047
Thank you for your help [zhicwu](https://github.com/zhicwu) ! It can work now!

[2022-08-20 01:58] #1047 closed

[2022-08-20 11:03] piotrp opened #1048 "Timestamp read from database is treated as if it was in JVM timezone"
When reading a DateTime value I get a timestamp that is shifted back by my JVM timezone offset.

Server is in UTC, JVM in Europe/Warsaw (UTC+2). When I try to read a DateTime value `2021-08-13T11:00:00Z` I get `2021-08-13T09:00:00Z`.

Is this driver bug or am I doing something wrong?

I'm using clickhouse-jdbc 0.3.2-patch11 (revision: 27f8951). ClickHouse 22.6.3.35.

[code]

[2022-08-20 15:29] piotrp commented on #1048
I believe the issue is in the way `getTimestamp` works. Value is read correctly from database, as `2021-08-13 11:00:00` at `UTC`:
![obraz](https://user-images.githubusercontent.com/1409807/185754210-10797fe7-6ce0-4d6c-be0f-1fd4f7f599a0.png)

but here:

https://github.com/ClickHouse/clickhouse-jdbc/blob/27f8951cdc380bf1799f76efc21fc377fc6d5981/clickhouse-jdbc/src/main/java/com/clickhouse/jdbc/Click

[2022-08-23 08:37] DemonJun commented on #1045
it looks great! wait for it

[2022-08-24 03:49] PromiseNev opened #1049 "can not connect to clickhouse server"
i use
[code]

url = jdbc:ch://xxx.compute-1.amazonaws.com:8123/dbname

but this error log :

java.sql.SQLException: No client available, server ClickHouseNode

[2022-08-24 10:08] viskvortsov commented on #1049
same here

[2022-08-24 12:49] zhicwu commented on #1049
Hi @PromiseNev & @viskvortsov, could you use shaded jar as suggested in [readme](../clickhouse-jdbc/tree/master/clickhouse-jdbc#maven-dependency)?

[code]

[2022-08-24 13:31] zhicwu commented on #1048
Hi @piotrp, sorry for the late response. The behavior is same as MySQL and legacy driver, but I agree that `use_server_time_zone` option is really confusing. Perhaps you can use DateTime column with timezone argument or `use_time_zone` option as shown in below example?

https://github.com/ClickHouse/clickhouse-jdbc/blob/f285b73d45597e29cf36dff4daf4cb4f9f53453a/clickhouse-jdbc/src/test/java/com/cli

[2022-08-24 16:26] piotrp commented on #1048
No, the legacy driver worked correctly. I stumbled upon this issue when I tried upgrading and my JDBC code using `getTimestamp` failed.

I created a test case at https://github.com/piotrp/clickhouse-driver-issue-1048, where you can see that the same test passes when run with legacy driver, and fails with the new one. I also added a test demonstrating that round trip with `setTimestamp`/`getTimesat

[2022-08-25 00:24] zhicwu commented on #1048
Thanks for sharing the test case. Legacy driver does not support timezone very well mainly due to the text-based data format. It's been enhanced in the new driver and [this test case](https://github.com/ClickHouse/clickhouse-jdbc/blob/master/clickhouse-jdbc/src/test/java/com/clickhouse/jdbc/ClickHouseStatementTest.java#L676) was added to ensure the driver works in the same way as MySQL.

It's reco

[2022-08-25 02:02] PromiseNev commented on #1049
if  i use this, my project other code will error
[code]
all these package will not found
<img width="877" alt="Xnip2022-08-25_10-01-52" src="https://user-images.githubusercontent.com/16667188/186557237-25beab9f-0f15-417c-9cf3-fab0e6943313.png">

[2022-08-25 02:27] zhicwu commented on #1049
I see. The missing dependencies have been added back in ClickHouse/clickhouse-jdbc#1039.

You can add Apache http client dependency in your pom file if your code dependents on that.

[2022-08-26 02:33] PromiseNev commented on #1049
it's work~

But  error log  this :

[code]

now i use  this maven package,  no this error

[code]

[2022-08-26 05:31] #364 closed

[2022-08-26 07:46] fiend19961 opened #1050 "Create table with keyword "use_metadata_cache""
https://github.com/ClickHouse/ClickHouse/pull/32928
jdbc not support this keyword "use_metadata_cache"
create table sql:
[code]
warn log
[code]
ClickhouseSqlParser.java warning code
[code]

[2022-08-26 08:10] zhicwu commented on #1049
Is that possible that you were trying to insert `null` to the non-nullable column `log_end_time DateTime64(3)`? If you're uncertain, you may try to set nullAsDefault to see if it will fix the issue(e.g. `jdbc:ch://localhost/db?nullAsDefault=2`).

The legacy driver uses text-based data format so it might work.

[2022-08-26 08:12] zhicwu commented on #1050
Thanks for the report. It's again a parsing issue. The parser will be moved to a new module `clickhouse-sql-parser`, and I'll rewrite it using JavaCC 21.

[2022-08-27 02:16] PromiseNev commented on #1049
OK, i will test this parameter

[2022-08-29 01:34] mikeTWC1984 opened #1051 "Is this library suitable to generate Native files?"
Wondering if this library can be used to convert flat files (e.g. CSV) to Clickhouse Native format (without connecting to server)?

[2022-08-29 07:10] PromiseNev commented on #1049
After testing can be fully compatible, thank you very much! I would like to ask, where is the documentation of jdbc url related parameters can be viewed?

[2022-08-29 08:21] zhicwu commented on #1051
As of now, we have `clickhouse-cli-client`, which is simply a wrapper of the native command-line `clickhouse-client`. It supports docker in the case when ClickHouse client is not installed locally. However, it does not support `clickhouse-local` at this point.

Actually I added `LOCAL` and `FILE` two protocols and planned to enhance `clickhouse-cli-client` accordingly. Would be great if some of yo

[2022-08-29 09:38] gl0726 commented on #250
此方法确实有用

[2022-08-29 10:00] yandd opened #1052 "need support aggregate function: groupUniqArrayArray"
DDL:
[code]

[2022-08-29 10:08] zhicwu commented on #1049
Please refer to [JDBC specific configuration](https://github.com/ClickHouse/clickhouse-jdbc/blob/master/clickhouse-jdbc/src/main/java/com/clickhouse/jdbc/JdbcConfig.java) and client options([common](https://github.com/ClickHouse/clickhouse-jdbc/blob/master/clickhouse-client/src/main/java/com/clickhouse/client/config/ClickHouseClientOption.java), [http](https://github.com/ClickHouse/clickhouse-jdbc

[2022-08-29 19:02] mikeTWC1984 commented on #1051
OK. What I mean is something like pure library for writing native files, without any CH binary dependency. Something like parquet-mr for Parquet format.  The idea is to use it with ETL tools (specifically NiFi). Those typically can generate CSV/JSON/Parquet or Avro, but looks like native format is noticably better for ingestion.

[2022-08-30 01:55] PromiseNev commented on #1049
thank u very very much, this issue can close ~

[2022-08-31 12:39] #1046 closed

[2022-08-31 12:39] #1049 closed

[2022-08-31 13:43] slvrtrn opened #1060 "What is the right way to specify wait_end_of_query HTTP setting in 0.3.1?"
Currently, one of the projects is tied to that particular version and I wonder if it is (was) possible to pass [`wait_end_of_query=1`](https://clickhouse.com/docs/en/interfaces/http/#response-buffering) for the requests somehow.

[2022-08-31 13:50] zhicwu commented on #1060
Hi @slvrtrn, you can use: https://github.com/ClickHouse/clickhouse-jdbc/blob/9b72c8afc3ead981bb62b998ff64280095ceb317/clickhouse-jdbc/src/main/java/ru/yandex/clickhouse/settings/ClickHouseProperties.java#L976-L982

For example: https://github.com/ClickHouse/clickhouse-jdbc/blob/9b72c8afc3ead981bb62b998ff64280095ceb317/clickhouse-jdbc/src/test/java/ru/yandex/clickhouse/integration/ResultSummaryTest

[2022-08-31 14:58] swarupsarangi113 opened #1061 "Pass Primary Key and Order By as parameters while dynamically creating a table using Spark"
I am trying to dynamically [create a table in ClickHouse database from Pyspark using MergeTree() Engine. For creating a table in ClickHouse database, I need to pass parameters like ENGINE, PRIMARY KEY or ORDER BY.

So, far I was able to pass Engine parameter in the below code, However I am not sure how to pass other parameters like PRIMARY KEY or ORDER BY.

This is the code snippet I am using :

[

[2022-08-31 15:06] slvrtrn commented on #1060
@zhicwu thank you very much! That's it, I was looking in the wrong place :)

[2022-08-31 15:06] #1060 closed

[2022-08-31 18:54] resdevd commented on #1061
You can combine options into one string Spark's createTableOptions call.

For example instead of

`   .option("createTableOptions", "primary key (id)").option("createTableOptions", "order by (id)").option("createTableOptions", "engine=MergeTree()") \`

Just combine the options into one string like below

`    .option("createTableOptions", "engine=MergeTree order by (id) primary key (id) \
`

[2022-09-01 05:14] swarupsarangi113 commented on #1061
This definitely fixed the issue. I was looking for this for the last 2 weeks.  I couldn't find about this anywhere in the documentation about this. Thanks a lot ! @resdevd

[2022-09-01 05:14] #1061 closed

[2022-09-01 09:58] ShortFinger opened #1062 "Cannot set null to non-nullable column but column set default value in DDL"
version v.0.3.2-patch11

DDL
[code]
[code]
when do batch insert if insert null into test_int,test_string and not set nullAsDefault then will throw
[code]
because code in com.clickhouse.client.data.ClickHouseRowBinaryProcessor
[code]
in this case, column can be null and jdbc should get default, When column is null InputBasedPreparedStatement will set default value or allow column be null

[2022-09-01 10:33] zhicwu commented on #1062
Thanks @ShortFinger for the report. This is a known issue due to limitation of RowBinary data format - see comments at [here](https://github.com/ClickHouse/clickhouse-jdbc/issues/878#issuecomment-1100789842).

[2022-09-04 17:41] stevenlsj opened #1065 "why not supports multi query?"
com.clickhouse.jdbc.internal.ClickHouseConnectionImpl#prepareStatement:
Prepared statement only supports one query but we got

[2022-09-05 08:50] rernas35 opened #1066 "R2DBC - fetch size"
Fetch size should impact buffer size and maybe maximum queued buffers etc. I can fix this together with JDBC driver after merging the initial PR.

https://github.com/rernas35/clickhouse-jdbc/blob/41e1afc89c4c5aa6c1e6874148545086deca9d06/clickhouse-r2dbc/src/main/java/com/clickhouse/r2dbc/ClickHouseStatement.java#L129

[2022-09-05 08:51] rernas35 opened #1067 "R2DBC - Constant name for both jdbc and r2dbc"
We need to declare a constant to reuse in both JDBC and R2DBC driver. This can be updated later.

https://github.com/rernas35/clickhouse-jdbc/blob/41e1afc89c4c5aa6c1e6874148545086deca9d06/clickhouse-r2dbc/src/main/java/com/clickhouse/r2dbc/connection/ClickHouseConnectionMetadata.java#L28

[2022-09-05 08:53] rernas35 opened #1068 "R2DBC - fake transaction requirement."
This reminds that probably we need to promote FakeTransaction from clickhouse-jdbc to clickhouse-client, so that it can be reused in R2DBC as well. This is something we need to refactor in the future. QueryManager / RequestManager should be added as well so that user has the ability to manage query/session id generation as well.

https://github.com/rernas35/clickhouse-jdbc/blob/41e1afc89c4c5aa6c1e

[2022-09-06 19:17] tpoll opened #1069 "BasicAuthentication Support"
Is basic authentication supported in the most recent version of the clickhouse JDBC drivers? (`clickhouse-jdbc-0.3.2-patch11` is my version).

I found an older PR saying that everyone got switched over https://github.com/ClickHouse/clickhouse-jdbc/issues/522, but looks like it may not be true in the most revent version.

I tried using the `custom_http_headers` property to set my own auth header, b